@use "../variables/variables" as *;
@use '../utilities/font-size' as *;
@use '../utilities/media-queries' as *;

/**************
    BUTTONS
***************/


.btn {
    @include font-size(1.2rem);
    color: $text-color;
    background-color: $page-bg-color;
    border: 2px solid $border-color;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 2px;
    font-weight: 600;
    transition: color $text-transition, background-color $bg-transition, border-color $bg-transition;

    &:hover,
    &.selected {
        color: $highlight-text-color;
        background-color: $highlight-bg-color;
    }

    @include dark-mode() {
        color: $drk-text-color-alt;
        background-color: $drk-bg-color;
        border-color: $drk-border-color;

        &:hover,
        &.selected {
            color: $drk-highlight-text-color;
            background-color: $drk-highlight-bg-color;
            border-color: $drk-highlight-border-color;
        }
    }
}

.btn-slider {
    @include font-size(1.2rem);
    color: $highlight-text-color;
    background-color: $highlight-bg-color;
    border: 2px solid $border-color;

    border-radius: 5px;
    padding: 2px 4px;
    margin: 2px;
    font-weight: 600;
    transition: color $text-transition, background-color $bg-transition, border-color $bg-transition;

    &:hover,
    &.selected {
        color: $text-color;
        background-color: $page-bg-color;
    }

    @include dark-mode() {
        color: $drk-highlight-text-color;
        background-color: $drk-highlight-bg-color;
        border-color: $drk-highlight-border-color;

        &:hover,
        &.selected {
            color: $drk-text-color-alt;
            background-color: $drk-bg-color;
            border-color: $drk-border-color;
        }
    }
}

.btn-submit {
    @include font-size(1.5rem);
    font-family: $accent-font;
    padding: 4px;
    text-transform: uppercase;
    width: 100%;

    @include only-above($medium-bp) {
        width: auto;
    }
}

.btn-icon {
    display: block;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    transform: scale(1);
    transition: transform 0.2s ease-in;

    svg {
        fill: $white;
    }

    &:hover {
        transform: scale(1.1);
    }
}
