@use "../variables/globals" as *;
@use "../variables/breakpoints" as *;
@use "../utilities/media-queries" as *;
@use "../variables/colors" as *;

/**************
    FORMS
***************/

@mixin form-field() {
    display: block;
    border: 2px solid $black;
    border-radius: 3px;
    width: 100%;
    background-color: $white;
    padding: 8px 4px;
}

form {
    width: 100%;
    margin-bottom: 24px;

    button[type=submit] {
        margin: 24px 0 auto;
        height: auto;
        padding: 8px 4px;

        @include only-above($medium-bp) {
            width: auto;
            float: right;
        }

    }
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: $body-font-sm;
}

input {
    @include form-field();
    margin-bottom: 8px;
}

textarea {
    @include form-field();
    font-family: $primary-font;
    min-height: 250px;
    margin-bottom: 8px;
}

.submission-msg {
    max-width: 350px;
}

/**************
    SELECT
***************/

$width-of-select-arrow: 24px;

select {
    @include form-field();
    padding: 4px calc(8px + $width-of-select-arrow) 4px 8px;
}

