img {
  max-width: 100%;
}

.img-expanded {
    display: block;
    margin: 0 auto;
    position: relative; // so it can be z-indexed above the bg texture
    // max-width: inherit; //NOTE: can't decide if I want this to be a "zoom" or just a full-width display...
}