@use "../variables/variables" as *;
@use '../utilities/font-size' as *;
@use '../utilities/media-queries' as *;

/***************/
/**   LINKS   **/
/***************/

.link {
    @include font-size(1.2rem);
    color: $text-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $text-color;
    }

    @include dark-mode() {
        color: $drk-text-color;

        &:visited {
            color: $drk-text-color;
        }

    }
}
