@use "../variables/globals" as *;

/**************
    TABLES
***************/

:is(table, th, td, tr) {
	padding: 0;
	font: inherit;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid $border-color;
}

td, th {
  padding: 4px;
}

// th:first-of-type {
//   text-align: left;
// }


th {
  font-weight: 700;
}

td, th {
  text-align: center;
}

tr {
  border-bottom: 1px solid $border-color;
}

table {
  border-collapse: collapse;
  border: 1px solid $border-color;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}


// .clearfix:after {
//   content: "";
//   clear: both;
//   display: table;
// }

// dl {
// display: block;
// width: 100%;
// clear: both

// }

// dd, dt {
//   display: inline-block;
// }

// dd {
//  float: left;
// }

// dt {
//   float: left;
//   clear: both;
// }