@use "../variables/globals" as *;

/**************
    TABLES
***************/

:is(table, th, td, tr) {
	padding: 0;
	font: inherit;
}

table {
  border-collapse: collapse;
  border: 1px solid $border-color;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid $border-color;
}

th, dt {
  font-weight: 700;
}

td, th {
  padding: 4px;
  text-align: center;
  font-size: .8rem;
  line-height: 1rem;
  height: 40px;
}

tr {
  border-bottom: 1px solid $border-color;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}
