@use "sass:list";
@use "../variables/colors" as *;
@use "../utilities/media-queries" as *;

/***********************
  INDENTS AND OUTDENTS
************************/

.nowrap {
  white-space: nowrap;
}

.indent-64 {
    margin-left: 32px;
    margin-right: 48px;

    @include only-above($small-bp) {
        margin-left: 64px;
    }
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}


/***********************
  VISUAL FLARE ELEMENTS
************************/

.made-with-love {
    border-bottom: 3px solid $black;
    padding: 8px;
}

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 32px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}

@mixin trapezoid($orientation: 'left', $btm-width, $height, $top-width: 0px) {
        position: absolute;
        content: '';
        display: block;
        height: $top-width; // set this to 0 for a triangle
        border-top: $height solid transparent;
        border-bottom: $height solid transparent;

        @if $orientation == 'left' {
            border-left: $btm-width solid $black;
        }

        @if $orientation == 'right' {
            border-right: $btm-width solid $black;
        }
}

.triangle-left {
    position: relative;

    &:before {
        @include trapezoid('left', 32px, 25px);
    }
}

.trapezoid-right {
    position: relative;

    &:after {
        @include trapezoid('right', 50px, 25px, 80px);
        top: -45px;
        right: 0;
    }
}

.trapezoid-hug {
    position: relative;

    &:before {
        @include trapezoid('left', 30px, 15px, 300px);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &:after {
        @include trapezoid('right', 30px, 15px, 300px);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
