@use '../variables/colors' as *;
@use '../variables/breakpoints' as *;
@use '../variables/globals' as *;
@use '../utilities/font-size' as *;
@use '../utilities/media-queries' as *;
@use '../utilities/grid' as *;

/*************
  Contact
**************/

.content-contact {
  padding: 4rem 72px 10px 56px;
}

.made-with-love {
    border-bottom: 3px solid $border-color;
    padding: 8px;
    margin-bottom: 4px;
    text-align: center;
    line-height: 1.5rem;

  .dark & {
    border-color: $drk-border-color;
  }

}

.icon-love {
  display: inline-block;
  max-width: 24px;
  line-height: 0px;

  .dark & svg {
    fill: $drk-text-color;
  }
}

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 120px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}

.sidebar-right {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  @include only-above($medium-bp) {
    text-align: left;
  }

  @include only-above($wide-bp) {
    min-width: 200px;
  }
}

.social-link {
    @include font-size(1rem);
    color: $text-color;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 4px;
    white-space: nowrap;
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 4px 8px;

    .icon {
      max-width: 36px;
      vertical-align: middle;
      display: inline-block;
      line-height: 0px; // hacky

      @include only-above($medium-bp) {
        margin-right: 8px;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    @include only-above($medium-bp) {
      display: block;
      text-align: left;
    }

    .social-link-text {
      display: none;
      vertical-align: middle;

      @include only-above($medium-bp) {
        display: inline-block;
      }
    }

    &:hover {
      background-color: $highlight-bg-color;

      svg {
        fill: $highlight-text-color;
      }

      .social-link-text {
        color: $highlight-text-color;
      }
    }

    .dark & {
      color: $drk-text-color;

      svg {
        fill: $drk-text-color;
      }
    }
}
