@use '../variables/colors' as *;

/*************
  Experience
**************/

.content.content-experience {
    max-width: 80%;
    margin: 0 auto;
    margin-left: 12%;
    padding: 4rem 0 4rem 63px;

    .title-2 {
      margin-left: -25px;
    }
}
