@use "../variables/colors" as *;
@use "../variables/breakpoints" as *;
@use "../utilities/media-queries" as *;
@use '../utilities/font-size' as *;

.filter-projects-group {
    width: 100%;
    position: relative; // to enable z-index
    z-index: 1;

    @include only-below($small-bp) {
        margin-bottom: 48px;
    }

    @include only-above($small-bp) {
        order: 1;
        justify-self: start;
    }
}

.filter-projects-label {
    @include font-size(.7rem);
    text-transform: uppercase;
    letter-spacing: 0.18rem;
}

.filter-projects-select {
    @include font-size(1rem);
    background-color: $black;
    border: 2px solid $black;
    color: $white;
    font-weight: 500;
    letter-spacing: 0.15rem;
    width: auto;

    @include only-below($small-bp) {
        width: 100%;
    }
}