@use '../utilities/font-size' as *;
@use '../utilities/titles' as *;

/*************
  About
**************/

// Hello.
.deco-font-1 {
  @include font-size(3.2rem);
  @include title;
  line-height: 3rem; // unique
  font-weight: 700;
}

// My name is...
.deco-font-2 {
  @include font-size(1.2rem);
  line-height: 1.8rem; // unique
}

// thanks for...
.deco-font-3 {
  @include font-size(1.4rem);
}

