@use "sass:math";
@use "../utilities/utilities" as *;
@use '../variables/colors' as *;

@function stepped-polygon ($startX: 0%, $endX: 100%, $stepW: 10%) { // default covers whole screen
  $polygon: polygon(
      #{$startX} 0vh, #{$startX} 20vh, /* leftmost points */
      calc($startX + $stepW)       20vh, calc($startX + $stepW)       40vh,
      calc($startX + (2 * $stepW)) 40vh, calc($startX + (2 * $stepW)) 60vh,
      calc($startX + (3 * $stepW)) 60vh, calc($startX + (3 * $stepW)) 80vh,
      calc($startX + (4 * $stepW)) 80vh, calc($startX + (4 * $stepW)) 100vh,
      calc($startX + (5 * $stepW)) 100vh,

      #{$endX} 100vh, #{$endX} 80vh, /* rightmost points */
      calc($endX - $stepW)       80vh, calc($endX - $stepW)       60vh,
      calc($endX - (2 * $stepW)) 60vh, calc($endX - (2 * $stepW)) 40vh,
      calc($endX - (3 * $stepW)) 40vh, calc($endX - (3 * $stepW)) 20vh,
      calc($endX - (4 * $stepW)) 20vh, calc($endX - (4 * $stepW)) 0vh,
      calc($endX - (5 * $stepW)) 0vh
    );

  @return $polygon;
}

.block-transition {
  @include page-width;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  clip-path: stepped-polygon(100%, 200%);
  background: $rainbow-gradient-horiz;
  // background: pink;
  z-index: 6; // above nav
  pointer-events: none;

  &.transition-in {
    animation: block-transition-in cubic-bezier(0.38, 0.68, 0.64, 0.41 ) .5s;
    animation-delay: 0;
  }

  &.transition-out {
    animation: block-transition-out cubic-bezier(0.38, 0.68, 0.64, 0.41 ) .5s;
    animation-delay: 0;
  }
}

@keyframes block-transition-in {
  0% {
    clip-path: stepped-polygon(100%, 300%, 10%) /* fully offscreen to the right */
  }
  100% {
    clip-path: stepped-polygon(-200%, 0%, 20%) /* fully offscreen to the left */
  }
}

@keyframes block-transition-out {
  0% {
    clip-path: stepped-polygon(-200%, 0%, 20%) /* fully offscreen to the left */
  }
  100% {
    clip-path: stepped-polygon(100%, 300%, 10%) /* fully offscreen to the right */
  }
}
