@use "../variables/colors" as *;

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 120px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}
