@use "../variables/colors" as *;

$rainbow-gradient-horiz: linear-gradient(
    180deg,
    $pink 0%,
    $pink 20%,
    $orange 20%,
    $orange 40%,
    $yellow 40%,
    $yellow 60%,
    $green 60%,
    $green 80%,
    $blue 80%,
    $blue 100%,
);

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 120px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}
