@use "../variables/colors" as *;
@use "../variables/globals" as *;
@use "../variables/breakpoints" as *;
@use "../utilities/media-queries" as *;
@use "../utilities/vertical-spacing" as *;
@use "../utilities/if-next-sibling-has" as *;
@use "../utilities/overlays" as *;

/********************
   ROOT
*********************/

.background {
  position: relative;
  background-color: $body-bg-color;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
  margin-top: 45px; // account for nav height

  &:before {
    @include paper-texture-overlay();
    opacity: 20%;
    z-index: 0;

    .dark & {
      opacity: 10%;
    }
  }
}


/********************
   PAGE
*********************/

.page {
  position: relative;
  overflow: hidden;
  background-color: $page-bg-color;
  width: 100%;
  color: $text-color;
  margin: 0 auto;
  max-width: $page-med-width;
  min-width: $mini-bp;
  margin-bottom: 180px;
  z-index: 1;

  @include only-above($wide-bp) {
    max-width: $page-max-width;
  }

  &:after {
    @include paper-texture-overlay();
    z-index: 2;
    opacity: 20%;
    pointer-events: none;
  }

  .dark & {
    background-color: $drk-page-bg-color;
    color: $drk-text-color;

    &:after {
      opacity: 13%;
    }
  }
}

/********************
   CANVAS
*********************/

#canvas {
  @include absolute-overlay;
  z-index: 1;
}

/**************
SECTION
***************/

.content {
  max-width: 720px;
  padding: 4rem 64px;
  margin: 0 auto;
  @include vertical-spacing("section");
}

.section-heading {
  @include vertical-spacing("section-heading");
}

.section-subheading {
  @include vertical-spacing("section-subheading");
}

/**************
      ENTRY
***************/

.entry {
  @include vertical-spacing("entry");

  @include if-next-sibling-has(".section-subheading") {
    @include vertical-spacing("section-subheading");
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
