@use "../variables/colors" as *;
@use "../variables/globals" as *;
@use "../variables/breakpoints" as *;
@use "../utilities/media-queries" as *;
@use "../utilities/vertical-spacing" as *;
@use "../utilities/if-next-sibling-has" as *;
@use "../utilities/overlays" as *;

/********************
   ROOT
*********************/

.background {
  position: relative;
  background-color: $body-bg-color;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
  margin-top: 45px; // account for nav height

  &:before {
    @include paper-texture-overlay();
    opacity: 20%;
    z-index: 0;

    @include dark-mode() {
      opacity: 10%;
    }
  }
}


/********************
   PAGE
*********************/

.page {
  position: relative;
  overflow: hidden;
  background-color: $page-bg-color;
  width: 100%;
  color: $text-color;
  margin: 0 auto;
  max-width: $page-med-width;
  min-width: $mini-bp;
  margin-bottom: 180px;
  z-index: 1;

  @include only-above($wide-bp) {
    max-width: $page-max-width;
  }

  &:after {
    @include paper-texture-overlay();
    z-index: 2;
    opacity: 20%;
    pointer-events: none;
  }

  @include dark-mode() {
    background-color: $drk-page-bg-color;
    color: $drk-text-color;

    &:after {
      opacity: 13%;
    }
  }
}

/********************
   CANVAS
*********************/

#canvas {
  @include absolute-overlay;
  z-index: 1;
  pointer-events: none;
}

/**************
SECTION
***************/

.section-heading {
  @include vertical-spacing("section-heading");
}

.section-subheading {
  @include vertical-spacing("section-subheading");
}


/**************
CONTENT
***************/

.content {
  max-width: 720px;
  padding: 4rem 64px;
  margin: 0 auto;
  @include vertical-spacing("section");
}


.content.content-projects {
  padding-bottom: 18px;

  .subtitle-2 {
    text-align: center;
  }

  @include only-above($medium-bp) {
    padding-bottom: 48px;
  }

  ul {
    margin-bottom: 16px;
  }

  h3 {
    text-align: left;

    @include only-above($small-bp) {
      text-align: right;
      order: 2;
    }
  }

  h4,
  ul {
    order: 3;
  }

  ul:last-of-type .entry:last-of-type {
    @include only-below($medium-bp) {
      margin-right: 15%;
    }
  }
}

.content-experience {
  max-width: 80%;
  margin: 0 auto;
  margin-left: 12%;
  padding: 4rem 0 4rem 63px;

  .title-2 {
    margin-left: -25px;
  }
}

.content-contact {
  padding: 4rem 72px 10px 56px;
  min-height: 560px;
}


/**************
      ENTRY
***************/

.entry {
  @include vertical-spacing("entry");

  @include if-next-sibling-has(".section-subheading") {
    @include vertical-spacing("section-subheading");
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}



