@use "../variables/variables" as *;
@use "../utilities/utilities" as *;

/********************
   ROOT
*********************/

// black bg with paper texture overlat
.background {
  position: relative;
  background-color: $body-bg-color;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;

  &:before {
    opacity: $paper-texture-opacity;
    z-index: 0;

    @include paper-texture-overlay();
    @include dark-mode() {
      opacity: $drk-paper-texture-opacity;
    }
  }

  @include only-above($medium-bp) {
    margin-top: 8px;
    padding-top: $nav-height + 8px;
  }
}

/********************
   PAGE
*********************/

.page-frame {
  overflow: hidden;
  position: relative; // context for `&:after` overlay, and the canvas
  background-color: $page-bg-color;
  color: $text-color;
  margin: 0 auto;
  margin-bottom: 180px;
  z-index: 1;

  @include page-width; // defines page min and max widths
  @include only-above($medium-bp) {
    border-radius: $border-radius-lg;
  }

  // An overlay with a transparent paper texture
  &:after {
    @include paper-texture-overlay();
    z-index: 2;
    opacity: $paper-texture-opacity;
    pointer-events: none;
  }

  @include dark-mode() {
    background-color: $drk-page-bg-color;
    color: $drk-text-color;

    &:after {
      opacity: $drk-paper-texture-opacity;
    }
  }
}

/**************
    SECTION
***************/

section {
  padding: 4rem 0;

  &.project-title-section {
    @include only-below($mini-bp) {
      padding: 3rem 0 3rem;
    }
  }
}

.section-heading {
  @include vertical-spacing('section-heading');
}

.section-subheading {
  @include vertical-spacing('section-subheading');
}


/**************
CONTENT
***************/

.h-centered {
  margin: 0 auto;
  padding: 0 calc(var(--content-gap) + var(--rainbow-w));
}

.h-centered-title {
  padding: 0 calc(var(--content-gap) + var(--rainbow-w) + 20px) 0 calc(var(--content-gap) + var(--rainbow-w));
}

.about {
  padding: 5rem var(--content-gap);
}

.projects {
  padding-bottom: 18px;

  .subtitle-2 {
    text-align: center;
  }

  @include only-above($medium-bp) {
    padding-bottom: 48px;
  }

  ul {
    margin-bottom: 16px;
  }

  h3 {
    text-align: left;

    @include only-above($small-bp) {
      text-align: right;
      order: 2;
    }
  }

  h4,
  ul {
    order: 3;
  }

  ul:last-of-type .entry:last-of-type {
    @include only-below($medium-bp) {
      margin-right: 15%;
    }
  }
}

.experience {
  max-width: 80%;
  margin: 0 20px 0 4.5rem;

  .title-2 {
    margin-left: -25px;
  }
}

.contact {
  min-height: 560px;
}

.footer {
  text-align: center;
  padding-bottom: calc(var(--rainbow-w) + 8px);
}


/**************
      ENTRY
***************/

.entry,
.v-spaced {
  @include vertical-spacing('entry');

  &:last-of-type {
    margin-bottom: 0;
  }
}



