@use "../variables/colors" as *;
@use "../variables/globals" as *;
@use "../variables/breakpoints" as *;
@use "../utilities/overlays" as *;
@use "../utilities/media-queries" as *;

.nav {
  background-color: $black;
  width: 100%;
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  &:before {
    @include paper-texture-overlay();
    opacity: $paper-texture-opacity;
    pointer-events: none;

    @include dark-mode() {
      opacity: $drk-paper-texture-opacity;
    }
  }
}

.nav-links {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  display: grid;
  max-width: $page-max-width;
  margin: 0 auto;
  height: $nav-height;

  span {
    vertical-align: middle;
  }

  .icon {
    display: inline-block;
    width: 1.2rem;
    padding: 0 4px;

    svg {
      fill: $white;
    }
  }
}

.nav-link {
  white-space: nowrap;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: $white;
  background-color: $black;
  text-transform: lowercase;
  text-align: center;

  &:hover {
    color: $black;
    background-color: $white;
  }

  &:hover svg {
    fill: $black;
  }
}
