@use "../variables/variables" as *;
@use "../utilities/utilities" as *;

.nav {
  background-color: $black;
  width: 100%;
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  &:before {
    @include paper-texture-overlay();
    opacity: $paper-texture-opacity;
    pointer-events: none;

    @include dark-mode() {
      opacity: $drk-paper-texture-opacity;
    }
  }
}

.nav-links {
  max-width: $page-med-width;
  margin: 8px auto;

  span {
    vertical-align: middle;
  }

  .icon {
    display: inline-block;
    width: 1.2rem;
    padding: 0 4px;

    svg {
      fill: $white;
    }
  }
}

.nav-link {
  @include font-size(1.2rem);
  display: inline-block;
  white-space: nowrap;
  border: none;
  border-radius: $border-radius-lg;;
  text-decoration: none;
  font-weight: bold;
  color: $white;
  background-color: $black;
  text-transform: lowercase;
  text-align: center;
  width: 25%;
  opacity: 1;
  transition: width .2s ease-in, opacity .2s ease-in, transform .1s ease-in;

  &:hover {
    color: $black;
    background-color: $white;
  }

  &:hover svg {
    fill: $black;
  }
}

.nav-link-hidden {
  opacity: 0;
  transform: scaleX(0);
  width: 0;
  transition: width .2s ease-in, opacity .2s ease-in, transform .1s ease-in .1s;

  ~ .nav-link {
    width: 33%;
  }
}
