@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

.more-info-dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $rainbow-gradient-diag;
    z-index: 6;

    &:before {
        @include paper-texture-overlay();
        opacity: $paper-texture-opacity;
        z-index: 0;

        @include dark-mode() {
          opacity: $drk-paper-texture-opacity;
        }
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content:center;
    z-index: 1;
    position: relative;
    position: absolute;
    bottom: 24px;
    left: 0;
}

.slider-dot-btn {
    background-color: rgba($black, .8);
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    transition: transfrom $bg-transition;
    transform: scale(1);

    &.selected, &:hover  {
        transform: scale(1.5);
    }

}

.more-info-dialog-content {
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 5vh;
    right: 45px;
    bottom: 45px;
    left: 5vh;
    padding: 5vh 45px;
    overflow: hidden;
}

.faux-phone {
    border: 5px solid $black;
    border-radius: 10px;
    height: 80vh;
    overflow: hidden;
    box-shadow: rgba($black, .3) 2px 2px 3px 0;
    position: relative;
    z-index: 1;
    background-color: rgb(236, 236, 236);
    padding: 15px;

    &:after {
        content: '';
        @include pseudo-overlay();
        box-shadow: rgb(236, 236, 236) 20px 20px 0 inset,
                    rgb(236, 236, 236) -20px -20px 0 inset;
        pointer-events: none;
        border-radius: 10px;
    }
}

.img-title {
    display: none;
    position: absolute;
    background-color: rgba($black, 0.8);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    max-width: fit-content;
    margin-top: -25px;
    margin-left: -22px;
    z-index: 1;
    cursor: default;

    &.visible {
        display: block;
    }
}

.scrollable-image {
    overflow: scroll;
    height: 80vh;
    border-radius: 10px;
    position: relative;

    img {
        margin: 45px auto 60px;
    }
}

.slider-btn {
    display: block;
    width: 60px;
    height: 150px;
    background: none;
    border: none;
    transition: transform 0.2s ease-in;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%) scale(1);

    svg {
        fill: $white;
        z-index: 2;
        position: relative;
        transition: transform 0.2s ease-in;
    }

    &:after {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &:hover {
        transform: translateY(-50%) scale(1.1);

        svg {
            transform: scale(1.5);
        }
    }

    &:first-of-type {
        left: 0;

        &:after {
            @include trapezoid('left', 60px, 30px, 120px, rgba($black, 0.8));
            left: 0;
        }
    }

    &:last-of-type {
        right: 0;

        &:after {
            @include trapezoid('right', 60px, 30px, 120px, rgba($black, 0.8));
            right: 0;
        }
    }

    .icon {
        display: inline-block;
        width: 30px;
    }

    .icon-fast-forward {
        margin-right: -10px;
    }

    .icon-rewind {
        margin-left: -10px;
    }
}

.slider-img {
    display: none;

    &.visible {
        display: block;
    }
}

.detailed-description {
    overflow: scroll;
    height: 80vh;
}

.btn-close {
    float: right;
    margin: 24px;
}

