@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Project Details Layout

$trapezoid-width: 8vw;

.more-info {
    overflow: hidden;

    @include only-below($medium-bp) {
        transition: transform $bg-transition;
        width: 200vw;
        transform: translateX(-100vw);

        &.show-left-page {
            transform: translateX(0vw);
        }
    }
}


.right-page {
    @include only-below($medium-bp) {
        box-shadow: rgba(0, 0, 0, 0.3) 6px 0 5px inset;
        margin-left: -8px;
    }

}

.left-page {
    @include only-below($medium-bp) {
        box-shadow: rgba(0, 0, 0, 0.3) -6px 0 5px inset,
                    rgba(0, 0, 0, 0.3) -6px 0 3px inset;
        margin-right: -8px;
    }
}

@mixin pg-turn-btn {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    @include only-above($medium-bp) {
        display: none;
    }
}

.turn-pg-btn-right {
    @include trapezoid('right', $trapezoid-width, calc($trapezoid-width / 2), 20vh, rgba($black, 0.8));
    @include pg-turn-btn();
    right: 50%;
}

.turn-pg-btn-left {
    @include trapezoid('left', $trapezoid-width, calc($trapezoid-width / 2), 20vh, rgba($black, 0.8));
    @include pg-turn-btn();
    left: 50%;
}

.detailed-description {
    overflow: scroll;
    margin-left: $trapezoid-width + 4vw;
    padding: 42px 0;
    height: 100vh;
    margin-right: 6vw;

    @include only-above($medium-bp) {
        margin: 4vh 24px;
        height: 80vh;
    }
}

