@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Project Details Layout

$trapezoid-width: 8vw;

.more-info-2 {
    --project-h: 120;
    --project-s: 100%;
    --project-l: 10%;
    --project-color: hsl(var(--project-h), var(--project-s), var(--project-l)); // update via json
    --project-shadow-color-1: hsl(var(--project-h), var(--project-s), calc(var(--project-l) - 8%));
    --project-shadow-color-2: hsl(var(--project-h), var(--project-s), calc(var(--project-l) - 4%));
    --project-text-color: #fef8ef;

    height: 100%;
    overflow-y: scroll;
}

.project-title {
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 40px 0 22px 160px;
}

.project-banner {
    // all these need to change to dynamic variables
    margin: 125px 102px 35px 44px;

    .slider {
        height: 50vh;
    }
}



.project-info {
    margin-left: 165px;

    .slider {
        max-height: 50vh;
    }

    &:before {
        @include paper-texture-overlay();
        opacity: $paper-texture-opacity;
        z-index: 0;

        @include dark-mode() {
          opacity: $drk-paper-texture-opacity;
        }
    }
}

// .engraved {
//     position: absolute;
//     top: 10px;
//     left: 0;
//     z-index: 0;
//     font-size: 6rem;
//     line-height: 6rem;
//     // transform: rotate(6deg);
//     font-family: Futura;
//     background-color: darken(var(--project-color), 3%);
//     -webkit-background-clip: text;
//     -moz-background-clip: text;
//     background-clip: text;
//     color: transparent;
//     white-space: nowrap;
//     text-overflow: hidden;
//     // text-shadow: darken(var(--project-color), 2%) 3px 5px 1px;
//  }


// .more-info {
//     overflow: hidden;

//     @include only-below($medium-bp) {
//         transition: transform $bg-transition;
//         width: 200vw;
//         transform: translateX(-100vw);

//         &.show-left-page {
//             transform: translateX(0vw);
//         }
//     }
// }


// .right-page {
//     @include only-below($medium-bp) {
//         box-shadow: rgba(0, 0, 0, 0.3) 6px 0 5px inset;
//         margin-left: -8px;
//     }

// }

// .left-page {
//     @include only-below($medium-bp) {
//         box-shadow: rgba(0, 0, 0, 0.3) -6px 0 5px inset,
//                     rgba(0, 0, 0, 0.3) -6px 0 3px inset;
//         margin-right: -8px;
//     }
// }

// @mixin pg-turn-btn {
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: transparent;

//     @include only-above($medium-bp) {
//         display: none;
//     }
// }

// .turn-pg-btn-right {
//     @include trapezoid('right', $trapezoid-width, calc($trapezoid-width / 2), 20vh, rgba($black, 0.8));
//     @include pg-turn-btn();
//     right: 50%;
// }

// .turn-pg-btn-left {
//     @include trapezoid('left', $trapezoid-width, calc($trapezoid-width / 2), 20vh, rgba($black, 0.8));
//     @include pg-turn-btn();
//     left: 50%;
// }

// .detailed-description {
//     overflow: scroll;
//     margin-left: $trapezoid-width + 4vw;
//     padding: 42px 0;
//     height: 100vh;
//     margin-right: 6vw;

//     @include only-above($medium-bp) {
//         margin: 4vh 24px;
//         height: 80vh;
//     }
// }

