@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Project Details Layout

$trapezoid-width: 60px;
$trapezoid-width-med: 80px;

.project-detail {
    padding-bottom: 80px;
}

.project-title {
    position: relative;
    text-align: left;
    padding-left: 16px;
}

.project-banner {
    margin-left: -2rem;

    @include only-above($small-bp) {
        margin-left: 0;
    }
}

.project-info {
    max-width: 75%;
    margin: 32px auto;
    padding-bottom: 120px;

    &:before {
        @include paper-texture-overlay();
        opacity: $paper-texture-opacity;
        z-index: 0;

        @include dark-mode() {
          opacity: $drk-paper-texture-opacity;
        }
    }
}

.back-btn {
    @include trapezoid('left', $trapezoid-width, calc($trapezoid-width / 2), 20vh, $black);
    position: fixed;
    top: 45vh;
    background-color: transparent;
    z-index: 2;
    transition: opacity .2s ease-out, transform .2s ease-out;
    opacity: 1;

    &:hover {
        transform: scale(1.2) translateX(6px);
    }

    .icon {
        width: 36px;
        display: inline-block;
        margin-left: -72px;
        margin-top: 8px;
    }

    svg {
        fill: $white;
    }

    &.hidden {
        opacity: 0;
    }
}
