@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Project Details Layout

$trapezoid-width: 40px;
$trapezoid-width-med: 60px;
$trapezoid-width-wide: 80px;

.project-detail {
    padding-bottom: 80px;
}

.project-title {
    position: relative;
    text-align: left;
    padding-left: 16px;
}

.project-banner {
    margin-left: -2rem;

    @include only-above($small-bp) {
        margin-left: 0;
    }
}

.project-info {
    max-width: 75%;
    margin: 32px auto;
    padding-bottom: 120px;

    &:before {
        @include paper-texture-overlay();
        opacity: $paper-texture-opacity;
        z-index: 0;

        @include dark-mode() {
          opacity: $drk-paper-texture-opacity;
        }
    }
}

// TODO: soooo cluttered, and the whole fixed position override thing is just ughhh.
.back-btn {
    top: 50vh;
    background-color: transparent;
    z-index: 2;
    transition: opacity .2s ease-out, transform .2s ease-out;
    opacity: 1;

    @include only-below($medium-bp) {
        @include trapezoid('left', $trapezoid-width, calc($trapezoid-width / 2), 20vh, $black);
        position: fixed;
    }
    @include only-between($medium-bp, $wide-bp) {
        @include trapezoid('left', $trapezoid-width-med, calc($trapezoid-width / 2), 20vh, $black);
        position: fixed;
        top: 64vh;
    }
    @include only-above($wide-bp) {
        @include trapezoid('left', $trapezoid-width-wide, calc($trapezoid-width / 2), 20vh, $black);
        position: fixed;
        top: 64vh;
    }


    &:hover {
        transform: scale(1.2) translateX(6px);
    }

    .icon {
        display: inline-block;
        height: 100%;


        // TODO: again with the clutter
        @include only-below($medium-bp) {
            width: 28px;
            margin-left: -37px;
            // margin-top: 60px;
        }
        @include only-between($medium-bp, $wide-bp) {
            width: 36px;
            margin-left: -52px;
            // margin-top: 55px;
        }
        @include only-above($wide-bp) {
            width: 46px;
            margin-left: -64px;
            // margin-top: 52px;
        }
    }

    svg {
        fill: $white;
        height: 100%;
        vertical-align: middle;
    }

    &.hidden {
        opacity: 0;
    }
}
