@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Slider

.buttons {
    width: 100%;
    display: flex;
    justify-content:center;
    z-index: 1;
    position: relative;
    position: absolute;
    bottom: 24px;
    left: 0;
}

.slider-dot-btn {
    background-color: rgba($black, .8);
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 10px;
    transition: transfrom $bg-transition;
    transform: scale(1);

    &.selected, &:hover  {
        transform: scale(1.5);
    }

}

.faux-phone {
    width: 90%;
    height: 100%;
    // border: 5px solid $black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba($black, .3) 2px 2px 3px 0;
    position: relative;
    z-index: 1;
    background-color: rgb(236, 236, 236);
    padding: 15px;


    @include only-above($medium-bp) {
        height: 80vh;
        width: 100%;
    }

    &:after {
        content: '';

        @include only-above($medium-bp) {
            @include pseudo-overlay();
            box-shadow: rgb(236, 236, 236) 20px 20px 0 inset,
                        rgb(236, 236, 236) -20px -20px 0 inset;
            pointer-events: none;
            border-radius: 10px;
        }
    }
}


.img-title {
    display: none;
    position: absolute;
    background-color: rgba($black, 0.8);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    max-width: fit-content;
    margin-top: -25px;
    margin-left: -22px;
    z-index: 1;
    cursor: default;

    &.visible {
        display: block;
    }
}

.scrollable-image {
    overflow: scroll;
    border-radius: 10px;
    position: relative;
    height: 90vh;

    img {
        margin: 45px auto 60px;
    }
}

.slider-btn {
    display: block;
    width: 2.8rem;
    height: 150px;
    background: none;
    border: none;
    transition: transform 0.2s ease-in;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%) scale(1);

    svg {
        fill: $white;
        z-index: 2;
        position: relative;
        transition: transform 0.2s ease-in;
    }

    &:after {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &:hover {
        transform: translateY(-50%) scale(1.1);

        svg {
            transform: scale(1.5);
        }
    }

    &:first-of-type {
        left: 0;

        &:after {
            @include trapezoid('left', 2.8rem, calc(2.8rem / 2), 8rem, rgba($black, 0.8));
            left: 0;
        }
    }

    &:last-of-type {
        right: 0;

        &:after {
            @include trapezoid('right', 2.8rem, calc(2.8rem / 2), 8rem, rgba($black, 0.8));
            right: 0;
        }
    }

    .icon {
        display: inline-block;
        width: 2rem;
    }

    .icon-fast-forward {
        margin-right: -10px;
    }

    .icon-rewind {
        margin-left: -10px;
    }
}

.slider-img {
    display: none;

    &.visible {
        display: block;
    }
}