@use "../variables/variables" as *;
@use "../utilities/utilities" as *;
@use "./trapezoids" as *;

// Slider

.slider-frame {
    position: relative; //ctx for btns
    width: 90%;
    height: 100%;
    overflow: hidden;
    box-shadow: rgba($black, .3) 2px 2px 3px 0;
    position: relative;
    z-index: 1;
    background-color: rgb(236, 236, 236);
    padding: 15px;


    @include only-above($medium-bp) {
        height: 80vh;
        width: 100%;
        border-radius: 10px;
    }
}

$pinstripes: repeating-linear-gradient(
    45deg,
    #a8a8a8,
    #a8a8a8 1px,
    #ccc 1px,
    #ccc 10px,
    $black 10px
);

.slider-contents {
    position: relative; // needed for small vp
    overflow: hidden scroll;
    border-radius: 10px;
    height: 96vh;
    background-image: $pinstripes;

    @include only-above($medium-bp) {
        height: calc(100% - 30px); // top/bottom padding (15px) * 2
    }
}

.slider-image-track {
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    transition: transform $bg-transition, left $bg-transition;
}

.slider-title {
    position: absolute;
    background-color: rgba($black, 0.8);
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
    max-width: fit-content;
    margin-top: -25px;
    margin-left: -22px;
    z-index: 1;
    cursor: default;
}

.slider-dot-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    bottom: 36px;
    left: 0;
}

.slider-dot-btn {
    background-color: rgba($black, .8);
    border: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 10px;
    transition: transfrom $bg-transition;
    transform: scale(1);

    &:hover  {
        transform: scale(1.5);
    }
    &.selected {
        background-color: $white;
    }

}

.slider-arrow-btn {
    display: block;
    width: 2.8rem;
    height: 150px;
    background: none;
    border: none;
    transition: transform 0.2s ease-in;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%) scale(1);

    .icon {
        display: inline-block;
        width: 2rem;
    }

    svg {
        transition: transform $text-transition ease-in,  fill $bg-transition ease-in;
        fill: $white;
        z-index: 2;
        position: relative;
    }

    &:after {
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        position: fixed !important;
        transition: border-color $text-transition ease-in;
    }

    &:not(:disabled):hover {
        transform: translateY(-50%) scale(1.1);

        svg {
            transform: scale(1.2);
        }
    }

    &:first-of-type {
        left: 0;

        &:disabled {
            transform: translateY(-50%) translateX(-80%);
        }

        &:after {
            @include trapezoid('left', 4.5rem, 3.5rem, rgba($black, 0.7));
            left: 0;
        }

        &:disabled:after {
            border-left-color: rgba($black, 0.2);
        }

        &:disabled svg {
            fill: rgba($black, 0.2);
        }
    }

    &:last-of-type {
        right: 0;

        &:disabled {
            transform: translateY(-50%) translateX(80%);
        }

        &:after {
            @include trapezoid('right', 4.5rem, 3.5rem, rgba($black, 0.7));
            right: 0;
        }

        &:disabled:after {
            border-right-color: rgba($black, 0.5);
        }

        &:disabled svg {
            fill: rgba($black, 0.2);
        }
    }
}