@use "../variables/colors" as *;
@use "../utilities/media-queries" as *;


/* Example usage:
    @include trapezoid('left', 30px, 15px, 300px, $black);
    @include trapezoid('right', 50px, 25px, 80px, $black);
    @include trapezoid('right', 30px, 15px, 300px, $black);
*/
@mixin trapezoid($orientation: 'left', $btm-width, $height, $top-width: 0px, $color: black) {
    position: absolute;
    content: '';
    display: block;
    height: $top-width; // set this to 0 for a triangle
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;

    @if $orientation == 'left' {
        border-left: $btm-width solid $color;
    }

    @if $orientation == 'right' {
        border-right: $btm-width solid $color;
    }
}

.triangle-left {
    position: relative;

    &:before {
        @include trapezoid('left', 35px, 25px, $black);
        top: 35%;

        @include only-above($medium-bp) {
          border-top-width: 40px;
          border-bottom-width: 40px;
          border-left-width: 50px;
        }

        @include only-above($wide-bp) {
          border-top-width: 60px;
          border-bottom-width: 60px;
          border-left-width: 70px;
        }
    }
  }


.trapezoid-right {
    position: relative;

    &:after {
        @include trapezoid('right', 50px, 25px, 80px, $black);
        top: 15%;
        right: 0;

        @include only-above($medium-bp) {
          border-top-width: 45px;
          border-bottom-width: 45px;
          border-right-width: 70px;
          top: 25%;
        }

        @include only-above($wide-bp) {
          border-top-width: 70px;
          border-bottom-width: 70px;
          border-right-width: 90px;
        }
    }
}

.trapezoid-hug {
    position: relative;

    &:before {
        @include trapezoid('left', 30px, 15px, 300px, $black);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &:after {
        @include trapezoid('right', 30px, 15px, 300px, $black);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

