@use "../variables/variables" as *;
@use "../utilities/utilities" as *;

/****************
    ROOT FONT
*****************/

:root {
  @include font-size($body-font-xsm);
  font-family: $primary-font;
  color: $black;
  font-weight: 300;

  @include only-above($small-bp) {
    @include font-size($body-font-sm);
  }

  @include only-above($medium-bp) {
    @include font-size($body-font-med);
  }

  // @include only-above($extra-wide-bp) {
  //   @include font-size($body-font-lg);
  // }
}

/**************
    RESETS
***************/

// resets for standard text elements
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
  margin: 0 0 4px 0;
}

p {
  margin-bottom: 12px;
}

/**************
    TITLES
***************/

/*
    "page" titles
        - h1/h2, once per page
*/

.title-1 {
  @include font-size(3.4rem);
  @include title;
  letter-spacing: 0.05rem; // unique to page title
}

.subtitle-1 {
  @include font-size(1.2rem);
  @include subtitle;
  letter-spacing: 0.1rem; // unique to page title
  margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/

.title-2 {
  @include font-size(2.6rem);
  @include title;
}

.subtitle-2 {
  @include font-size(1.2rem);
  font-family: $primary-font;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/

.title-3 {
  @include title;
  @include font-size(1.4rem);
}

.supertitle-3 {
  @include title;
  @include font-size(1rem);
  font-style: italic;
}

.subtitle-3 {
  @include subtitle;
  @include font-size(1.2rem);
  font-style: italic;
}
