@use '../variables/colors' as *;
@use '../utilities/font-size' as *;
@use '../utilities/media-queries' as *;
@use '../utilities/grid' as *;

/*************
  Contact
**************/

.section-contact {




}

.made-with-love {
    border-bottom: 3px solid $black;
    padding: 8px;
}

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 120px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}

.sidebar-right {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  @include only-above($medium-bp) {
    text-align: left;
  }
}

.social-link {
    @include font-size(1rem);
    color: $black;
    font-weight: 700;
    text-decoration: none;
    width: 20%;
    max-width: 60px;
    text-align: center;
    display: inline-block;
    padding: 4px;

    &:hover {
      text-decoration: underline;
    }

    @include only-above($medium-bp) {
      display: block;
    }

    .social-link-text {
      display: none;

      @include only-above($medium-bp) {
        display: inline-block;
      }
    }

    &:hover svg {
      fill: none;
      stroke: black;
      stroke-width: 10px;
      stroke-linejoin: round;
    }
}
