@use '../variables/colors' as *;
@use '../utilities/font-size' as *;
@use '../utilities/media-queries' as *;
@use '../utilities/grid' as *;

/*************
  Contact
**************/

.section-contact .section-content {
  padding: 4rem 72px 10px 56px;
}

.made-with-love {
    border-bottom: 3px solid $black;
    padding: 8px;
    margin-bottom: 4px;
    text-align: center;
}

.color-bar {
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 120px;
        content: '';
        display: block;
        width: 32px;
        height: 450px;
        background: $rainbow-gradient-horiz
    }
}

.sidebar-right {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;

  @include only-above($medium-bp) {
    text-align: left;
  }

  @include only-above($wide-bp) {
    min-width: 200px;
  }
}

.social-link {
    @include font-size(1rem);
    color: $black;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 4px;
    white-space: nowrap;
    margin-bottom: 4px;
    border-radius: 3px;
    padding: 4px 8px;

    .icon {
      max-width: 36px;
      vertical-align: middle;
      display: inline-block;
      line-height: 0px; // hacky

      @include only-above($medium-bp) {
        margin-right: 8px;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    @include only-above($medium-bp) {
      display: block;
      text-align: left;
    }

    .social-link-text {
      display: none;
      vertical-align: middle;

      @include only-above($medium-bp) {
        display: inline-block;
      }
    }

    &:hover {
      background-color: black;

      svg {
        fill: $white;
      }

      .social-link-text {
        color: $white;
      }
    }
}
