$mini-bp: 300px;
$small-bp: 480px;
$medium-bp: 769px;
$wide-bp: 1280px;
$extra-wide-bp: 1440px;
$hd-bp: 1920px;

@mixin only-above($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin only-below($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}
