@use "./variables/breakpoints" as bp;
@use "./utilities/respond-to" as *;

/**************
    FORMS
***************/

form {
    width: 100%;

    @include respond-to(bp.$medium) {
        max-width: 70%;
    }
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    display: block;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 8px;
}

textarea {
    display: block;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    min-height: 250px;
}

/**************
    SELECT
***************/

select {}

option {}