@use "./utilities/media-queries" as *;
@use "./variables/globals" as *;
@use "./variables/colors" as *;

/**************
    FORMS
***************/

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: $body-font-size;
}

input {
    display: block;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 8px 4px;
    margin-bottom: 8px;
}

textarea {
    display: block;
    border: 2px solid $black;
    border-radius: 3px;
    width: 100%;
    min-height: 250px;
}

/**************
    SELECT
***************/

$width-of-select-arrow: 24px;

select {
    font-size: 1rem;
    background-color: $black;
    border: 2px solid $black;
    color: $white;
    padding: 4px calc(8px + $width-of-select-arrow) 4px 8px;
    font-weight: 500;
    letter-spacing: 0.15rem;
    width: auto;
}

