@use "./variables/colors" as *;
@use "./variables/fonts" as *;
@use "./variables/breakpoints" as *;
@use "./utilities/font-size" as *;
@use "./utilities/vertical-spacing" as *;

/**************
    UTILS
***************/

.text-left {
    text-align: left;
}


/**************
    Base HEADINGS and Paragraphs
***************/

// resets for standard text elements
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
    font: inherit;
    margin: 0;
}

p {
    font-family: $primary-font;
    font-weight: 300;
    @include vertical-spacing('paragraph');
}

/**************
    TITLES
***************/

@mixin title {
    font-family: $primary-font;
    font-weight: 700;
}

@mixin subtitle {
    font-family: $primary-font;
    font-weight: 500;
}

/*
    "page" titles
        - h1/h2, once per page
*/

.title-1 {
    @include font-size(3.4rem);
    @include title;
    letter-spacing: 0.05rem; // unique to page title
}

.subtitle-1 {
    @include font-size(1.2rem);
    @include subtitle;
    letter-spacing: 0.1rem; // unique to page title
    margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/

.title-2 {
    @include font-size(2.6rem);
    @include title;
}

.subtitle-2 {
    @include font-size(1.2rem);
    text-align: center;
    font-family: $primary-font;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/

.title-3 {
    @include title;
    @include font-size(1.4rem);
}

.supertitle-3 {
    @include title;
    @include font-size(1rem);
    font-style: italic
}

.subtitle-3 {
    @include subtitle;
    @include font-size(1.2rem);
    font-style: italic;
}

/*
    One off title styles
*/

// Hello.
.deco-font-1 {
    @include font-size(3.2rem);
    @include title;
    line-height: 3rem; // unique
    font-weight: 700;
}

// My name is...
.deco-font-2 {
    @include font-size(1.2rem);
    line-height: 1.8rem; // unique
}

// thanks for...
.deco-font-3 {
    @include font-size(1.4rem);
}


/**************
     ICONS
***************/

.icon-sm {
    display: inline-block;
    max-width: 30px;
}

.icon-lg {
    display: inline-block;
    max-width: 60px;
}

/**************
    LINKS
***************/

a {}
