@use "./variables/colors" as *;
@use "./variables/fonts" as *;
@use "./variables/breakpoints" as *;

/**************
    UTILS
***************/

.text-left {
    text-align: left;
}

/**************
    HEADINGS
***************/

:is(h1, h2, h3, h4, h5, h6, p, i, em) {
    margin: 0;
	font: inherit;
}

p {
    font-family: $primary-font;
    font-weight: 400;
}

/**************
    TITLE
***************/

@mixin title {
    font-family: $primary-font;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.title-1 { // Jessica Barnettt
    @include title;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: calc(3.4rem - .2rem);
}

.title-1 + .subtitle-1,
.title-2 + p  {
    margin-top: .3rem;
}

.title-2 { // Hello.
    @include title;
    font-size: 3.2rem;
    line-height: calc(3.2rem - .2rem);
    font-weight: 700;
}

.title-3 { // section headings
    @include title;
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
}

@mixin subtitle {
    font-family: $primary-font;
    letter-spacing: 0.1rem;
}

// FrontEnd/Fullstack Software Eng
.subtitle-1 {
    @include subtitle;
    font-size: 1.2rem;
    line-height: calc(1.2rem + .2rem);
    font-weight: 500;
}

// TODO: figure out how to work these one-offs into some kind of real system?

// My name is...
.deco-font-1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

// thanks for...
.deco-font-2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}

/**************
     ICONS
***************/

.icon-sm {
    display: inline-block;
    max-width: 30px;
}

.icon-lg {
    display: inline-block;
    max-width: 60px;
}

/**************
    LINKS
***************/

a {

}

