// @use "./reset.css";

// Variables
@use './variables/breakpoints' as *;
@use './variables/colors' as *;
@use './variables/fonts' as *;
@use './variables/globals' as *;

// mixins and functions
@use "./utilities/media-queries" as *;
@use "./utilities/vertical-spacing" as *;
@use "./utilities/if-next-sibling-has" as *;


// partials
@use "./typography";
@use "./forms";
@use "./tables";
@use "./lists";
@use "./buttons";
@use "./utilities/font-size" as *;



* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

:root {
  width: 100%;
  background-color: $black;
  font-family: $primary-font;
  color: $black;


  @include font-size(1rem);


  @include only-above($medium-bp) {
    @include font-size(1.2rem);
  }

  @include only-above($extra-wide-bp) {
    @include font-size(1.6rem);
  }
}

.page {
  background-color: $white;
  width: 100%;
  color: $black;
  margin: 0 auto;
  padding: 4rem 1rem;
  max-width: $page-max-width;
}


.content {
  margin: 0 auto;
  max-width: 720px; // "max readable width" ?
}

/**************
   UTILITY
***************/

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}


/**************
    IMAGES
***************/

img {
  max-width: 100%;
}

/**************
    SECTION
***************/

section {
  position: relative;
  @include vertical-spacing('section');
}

.section-heading {
  @include vertical-spacing('section-heading');
}


.section-subheading {
  @include vertical-spacing('section-subheading');
}

/**************
    ENTRY
***************/

.entry {
  @include vertical-spacing('entry');

  @include if-next-sibling-has('.section-subheading') {
    @include vertical-spacing('section-subheading');
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}



/*************
  one off stuff
**************/

.section-projects {
  h3 {
    @include only-below($small-bp) {
      margin-bottom: 32px;
    }


    @include only-above($medium-bp) {
      text-align: right;
    }
  }

  // util class?
  .filter-group {
    @include only-below($small-bp) {
      margin-bottom: 48px;
    }


    @include only-above($small-bp) {
      position: absolute;
      top: -8px;
      right: 0;
    }

    @include only-above($medium-bp) {
      left: 0;
    }
  }
}