@use "./reset.css";
@use "./variables/colors" as c;
@use "./variables/breakpoints" as bp;
@use "./variables/variables" as v;
@use "./variables/fonts" as f;
@use "./utilities/respond-to" as *;
@use "./typography";
@use "./forms";

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
  background-color: c.$black;
  font-family: f.$primary;
  color: c.$black;
  font-size: 1rem;

  @include respond-to(bp.$medium) {
    font-size: 1.2rem;
  }

  @include respond-to(bp.$extra-wide) {
    font-size: 1.5rem;
  }
}

.page {
  background-color: c.$white;
  width: 100%;
  color: c.$black;
  margin: 0 auto;
  padding: 4rem 1rem;
  max-width: v.$page-max-width;
  font-size: 1.5rem;
}


.content {
  margin: 0 auto;
  max-width: 720px; // "max readable width" ?
}

/**************
    IMAGES
***************/

img {
  max-width: 100%;
}

/**************
    TABLES
***************/

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid c.$black;
}

tr {
  border-bottom: 1px solid c.$black;
}

table {
  border-collapse: collapse;
  border: 1px solid c.$black;
}


/**************
    SECTION
***************/

section {
  margin-bottom: 86px;
}