// @use "./reset.css";

// Variables
@use './variables/breakpoints' as *;
@use './variables/colors' as *;
@use './variables/fonts' as *;
@use './variables/globals' as *;

// mixins and functions
@use "./utilities/respond-to" as *;

// partials
@use "./typography";
@use "./forms";
@use "./tables";
@use "./lists";
@use "./buttons";

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
  background-color: $black;
  font-family: $primary-font;
  color: $black;

  font-size: 1rem;

  @include respond-to($medium-bp) {
    font-size: 1.2rem;
  }

  @include respond-to($extra-wide-bp) {
    font-size: 1.5rem;
  }
}

.page {
  background-color: $white;
  width: 100%;
  color: $black;
  margin: 0 auto;
  padding: 4rem 1rem;
  max-width: $page-max-width;
  font-size: 1.5rem;
}


.content {
  margin: 0 auto;
  max-width: 720px; // "max readable width" ?
}

/**************
   UTILITY
***************/

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}


/**************
    IMAGES
***************/

img {
  max-width: 100%;
}

/**************
    SECTION
***************/

section {
  margin-bottom: 86px;
}