@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lester Bold";
  src: url("/assets/fonts/lester-bold.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
/* enforces line heights */
/**************
      GRID
***************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-gap: 16px;
}
.grid > * {
  grid-column: auto/span 12;
}
.grid .half {
  grid-column: auto/span 6;
}
.grid .one-third {
  grid-column: auto/span 4;
}
.grid .two-third {
  grid-column: auto/span 8;
}

@media (min-width: 480px) {
  .grid-at-small {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-small > * {
    grid-column: auto/span 12;
  }
  .grid-at-small .half {
    grid-column: auto/span 6;
  }
  .grid-at-small .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-small .two-third {
    grid-column: auto/span 8;
  }
}

/****************
    ROOT FONT
*****************/
:root {
  font-size: 1rem;
  line-height: 1.2rem;
  background-color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 300;
}
@media (min-width: 769px) {
  :root {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

/**************
    UTIL
***************/
.text-left {
  text-align: left;
}

/**************
    RESETS
***************/
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
  font: inherit;
  margin: 0;
}

/**************
    TITLES
***************/
/*
    "page" titles
        - h1/h2, once per page
*/
.title-1 {
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.subtitle-1 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/
.title-2 {
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.subtitle-2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/
.title-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.supertitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  font-style: italic;
}

.subtitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-style: italic;
}

/*
    One off title styles
*/
.deco-font-1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 3rem;
  font-weight: 700;
}

.deco-font-2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  line-height: 1.8rem;
}

.deco-font-3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/**************
     ICONS
***************/
.icon-sm {
  max-width: 24px;
  filter: invert(0);
}

.icon-lg {
  max-width: 45px;
  margin: 8px;
}

/**************
    LINKS
***************/
/***************/
/**   LINKS   **/
/***************/
.link {
  margin-right: 16px;
}

.link::before {
  content: "";
  background: url("assets/icons/link-solid.svg") no-repeat;
  display: inline-block;
  height: 12px;
  width: 16px;
}

.social-link {
  font-size: 1.2rem;
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.social-link:hover {
  text-decoration: underline;
}

/*
  We have a selector that can select based on the previous
  sibling's class...

  .make-the-next-p-different + p {
    // rules are applied to p tags that are
    // PRECEEDED by `.make-the-next-p-different`
  }

  but not one that can select based on the
  NEXT sibling's class.

  p - .make-the-previous-p-different {
    // this selector doesn't exist :(
  }

  this is just a slightly more readable way to do that.
*/
/********************
   WRAPPER ELEMENTS
*********************/
.page {
  background-color: #FFF;
  width: 100%;
  color: #000;
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 960px;
}

/**************
SECTION
***************/
.section-content {
  max-width: 720px;
  padding: 0 64px;
  margin: 0 auto;
  padding-bottom: 96px;
}

.section-heading {
  padding-bottom: 64px;
}

.section-subheading {
  padding-bottom: 48px;
}

/**************
      ENTRY
***************/
.entry {
  padding-bottom: 32px;
}
.entry:has(+ .section-subheading) {
  padding-bottom: 48px;
}
.entry:last-of-type {
  margin-bottom: 0;
}

/**************
   PARAGRAPH
***************/
p {
  padding-bottom: 8px;
}

/**************
    FORMS
***************/
form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 1rem;
}

input {
  display: block;
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  padding: 8px 4px;
  margin-bottom: 8px;
}

textarea {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  min-height: 250px;
}

/**************
    SELECT
***************/
select {
  font-size: 1rem;
  background-color: #000;
  border: 2px solid #000;
  color: #FFF;
  padding: 4px 32px 4px 8px;
  font-weight: 500;
  letter-spacing: 0.15rem;
  width: auto;
}

/**************
    TABLES
***************/
:is(table, th, td, tr) {
  padding: 0;
  font: inherit;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid #000;
}

td, th {
  padding: 4px;
}

th:first-of-type {
  text-align: left;
}

td {
  text-align: center;
}

tr {
  border-bottom: 1px solid #000;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.page-stats-table {
  width: 75%;
  margin-bottom: 8px;
}
@media (min-width: 769px) {
  .page-stats-table {
    width: 50%;
  }
}

.page-stats-button {
  margin: 4px 16px 0 0;
  display: inline-block;
  vertical-align: top;
}

.page-stats-text {
  max-width: 60%;
  display: inline-block;
}
@media (min-width: 769px) {
  .page-stats-text {
    max-width: 45%;
  }
}

/**************
    LISTS
***************/
:is(ol, ul, li) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/**************
    BUTTONS
***************/
button {
  background-color: transparent;
}

.btn-1-inverted {
  border: 2px solid #FFF;
  border-radius: 3px;
  padding: 0 2px;
  margin: 2px;
  font-weight: 600;
}
.btn-1-inverted:hover {
  background-color: #FFF;
  color: #000;
}

.btn-1 {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 2px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.btn-1:hover, .btn-1.selected {
  background-color: #000;
  color: #FFF;
}

.btn-2 {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0 4px;
  font-weight: 600;
  font-family: "Lester Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
}
.btn-2:hover {
  background-color: #000;
  color: #FFF;
}

/***********************
  INDENTS AND OUTDENTS
************************/
.nowrap {
  white-space: nowrap;
}

.indent-64 {
  margin-left: 32px;
  margin-right: 48px;
}
@media (min-width: 480px) {
  .indent-64 {
    margin-left: 64px;
  }
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

/***********************
  VISUAL FLARE ELEMENTS
************************/
.made-with-love {
  border-bottom: 3px solid #000;
  padding: 8px;
}

.color-bar {
  position: relative;
}
.color-bar:before {
  position: absolute;
  left: 0;
  top: 32px;
  content: "";
  display: block;
  width: 32px;
  height: 450px;
  background: linear-gradient(180deg, #E2006A 0%, #E2006A 20%, #EE6B0F 20%, #EE6B0F 40%, #EBE000 40%, #EBE000 60%, #82A900 60%, #82A900 80%, #0084CE 80%, #0084CE 100%);
}

.triangle-left {
  position: relative;
}
.triangle-left:before {
  position: absolute;
  content: "";
  display: block;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 32px solid #000;
}

.trapezoid-right {
  position: relative;
}
.trapezoid-right:after {
  position: absolute;
  content: "";
  display: block;
  height: 80px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #000;
  top: -45px;
  right: 0;
}

.trapezoid-hug {
  position: relative;
}
.trapezoid-hug:before {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.trapezoid-hug:after {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/**
* Rainbows
*/
.rainbow-left {
  background: linear-gradient(90deg, transparent 0%, transparent 0%, #0084CE, 0%, #0084CE, 2%, #E2006A, 2%, #E2006A, 4%, #EE6B0F, 4%, #EE6B0F, 6%, #EBE000, 6%, #EBE000, 8%, #82A900, 8%, #82A900, 10%, transparent 10%, transparent 100%);
}

.rainbow-right {
  background: linear-gradient(90deg, transparent 0%, transparent 90%, #0084CE, 90%, #0084CE, 92%, #E2006A, 92%, #E2006A, 94%, #EE6B0F, 94%, #EE6B0F, 96%, #EBE000, 96%, #EBE000, 98%, #82A900, 98%, #82A900, 100%, transparent 100%, transparent 100%);
}

.rainbow-right-2 {
  background: linear-gradient(90deg, transparent 0%, transparent 82%, #0084CE, 82%, #0084CE, 84%, #E2006A, 84%, #E2006A, 86%, #EE6B0F, 86%, #EE6B0F, 88%, #EBE000, 88%, #EBE000, 90%, #82A900, 90%, #82A900, 92%, transparent 92%, transparent 100%);
}

.rainbow-left-right-top {
  background: linear-gradient(90deg, transparent 0%, transparent 0%, #0084CE, 0%, #0084CE, 2%, #E2006A, 2%, #E2006A, 4%, #EE6B0F, 4%, #EE6B0F, 6%, #EBE000, 6%, #EBE000, 8%, #82A900, 8%, #82A900, 10%, transparent 10%, transparent 100%), linear-gradient(90deg, transparent 0%, transparent 90%, #0084CE, 90%, #0084CE, 92%, #E2006A, 92%, #E2006A, 94%, #EE6B0F, 94%, #EE6B0F, 96%, #EBE000, 96%, #EBE000, 98%, #82A900, 98%, #82A900, 100%, transparent 100%, transparent 100%), linear-gradient(180deg, transparent 0%, transparent 0%, #0084CE, 0%, #0084CE, calc(0% + 8px), #E2006A, calc(0% + 8px), #E2006A, calc(0% + 8px + 8px), #EE6B0F, calc(0% + 8px + 8px), #EE6B0F, calc(0% + 8px + 8px + 8px), #EBE000, calc(0% + 8px + 8px + 8px), #EBE000, calc(0% + 8px + 8px + 8px + 8px), #82A900, calc(0% + 8px + 8px + 8px + 8px), #82A900, calc(0% + 8px + 8px + 8px + 8px + 8px), transparent calc(0% + 8px + 8px + 8px + 8px + 8px), transparent 100%);
}

.rainbow-top {
  background: linear-gradient(180deg, transparent 0%, transparent 0%, #0084CE, 0%, #0084CE, calc(0% + 8px), #E2006A, calc(0% + 8px), #E2006A, calc(0% + 8px + 8px), #EE6B0F, calc(0% + 8px + 8px), #EE6B0F, calc(0% + 8px + 8px + 8px), #EBE000, calc(0% + 8px + 8px + 8px), #EBE000, calc(0% + 8px + 8px + 8px + 8px), #82A900, calc(0% + 8px + 8px + 8px + 8px), #82A900, calc(0% + 8px + 8px + 8px + 8px + 8px), transparent calc(0% + 8px + 8px + 8px + 8px + 8px), transparent 100%);
}

.rainbow-left-2 {
  background: linear-gradient(90deg, transparent 0%, transparent 0%, #0084CE, 0%, #0084CE, 2.4%, #E2006A, 2.4%, #E2006A, 4.8%, #EE6B0F, 4.8%, #EE6B0F, 7.2%, #EBE000, 7.2%, #EBE000, 9.6%, #82A900, 9.6%, #82A900, 12%, transparent 12%, transparent 100%);
}

/**************
    GLOBALS
***************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

/**************
    IMAGES
***************/
img {
  max-width: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hidden {
  opacity: 0;
}

.submission-msg {
  max-width: 350px;
}

/*************
  Stuff to clean up and move
**************/
.section-projects h3 {
  text-align: left;
}
@media (max-width: 480px) {
  .section-projects h3 {
    margin-bottom: 32px;
  }
}
@media (min-width: 480px) {
  .section-projects h3 {
    text-align: right;
    order: 2;
  }
}
.section-projects .filter-group {
  width: 100%;
}
@media (max-width: 480px) {
  .section-projects .filter-group {
    margin-bottom: 48px;
  }
}
@media (min-width: 480px) {
  .section-projects .filter-group {
    order: 1;
    justify-self: start;
  }
}
.section-projects .filter-group label {
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-size: 0.7rem;
  line-height: 0.6rem;
}
@media (max-width: 480px) {
  .section-projects .filter-group select {
    width: 100%;
  }
}
.section-projects h4, .section-projects ul {
  order: 3;
}

.section-resume ol {
  max-width: 70%;
  margin: 0 auto;
}

/*# sourceMappingURL=App.css.map */
