div#skyBG{
	width: 100%;
	background: linear-gradient(to top, rgba(130,130,170,1) 0%,rgba(0,30,120,1) 100%) fixed;
}

div#mountainsBG{
	width: 100%;
	// height: 100vh;

	background: url('../images/parallax/nearMountains.svg') 5% 85% / 110% fixed no-repeat,
				url('../images/parallax/midMountains.svg') 15% 83% / 120% fixed no-repeat,
				url('../images/parallax/farMountains.svg') 5% 85% / 110% fixed no-repeat,
				url('../images/parallax/starField.svg') 0 0 / 20% fixed repeat-x;
				// linear-gradient(to top, #ffffff 0%, #8682aa 60%);	


	@media screen and (min-width: 1100px){
		background: url('../images/parallax/nearMountains.svg') 5% 100% / 110% fixed no-repeat,
				url('../images/parallax/midMountains.svg') 15% 83% / 120% fixed no-repeat,
				url('../images/parallax/farMountains.svg') 5% 85% / 110% fixed no-repeat, 
				url('../images/parallax/starField.svg') 100% fixed repeat-x;
				// linear-gradient(to top, #ffffff 0%, #8682aa 20%, #001e78 80%);	
	}

	//tab portrait
	@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
		background: url('../images/parallax/nearMountains.svg') 50% 120% / 250% fixed no-repeat,
			url('../images/parallax/midMountains.svg') 50% 105% / 250% fixed no-repeat,
			url('../images/parallax/farMountains.svg') 50% 100% / 250% fixed no-repeat,
			url('../images/parallax/starField.svg') 100% fixed repeat-x;
			// linear-gradient(to top, #ffffff 0%, #8682aa 20%, #001e78 80%);	
	 }


	//phone landscape
	@media screen and (max-width: 480px) and (min-width: 200px) and (orientation: landscape){
		background: url('../images/parallax/nearMountains.svg') 5% 100% / 110% fixed no-repeat,
			url('../images/parallax/midMountains.svg') 15% 83% / 120% fixed no-repeat,
			url('../images/parallax/farMountains.svg') 5% 85% / 110% fixed no-repeat,
			url('../images/parallax/starField.svg') 100% fixed repeat-x;
			// linear-gradient(to top, #ffffff 0%, #8682aa 20%, #001e78 80%);	
	}

	//phone Portrait
	@media screen and (max-width: 480px) and (min-width: 200px) and (orientation: portrait){
		background: url('../images/parallax/nearMountains.svg') 50% 100% / 250% fixed no-repeat,
			url('../images/parallax/midMountains.svg') 50% 90% / 250% fixed no-repeat,
			url('../images/parallax/farMountains.svg') 50% 90% / 250% fixed no-repeat,
			url('../images/parallax/starField.svg') 100% fixed repeat-x;
			// linear-gradient(to top, #ffffff 0%, #8682aa 20%, #001e78 80%);	
	}

}

div#top {
	width: 100%;
	height: 100vh;

	background:	url('../images/parallax/bigBranch.svg') -45% 0% / 65% no-repeat,
				url('../images/parallax/smallBranch.svg') 110% 50% / 45% no-repeat,
				url('../images/parallax/groundLantern.svg') 5% 88% / 110% no-repeat;	


	@media screen and (min-width: 1100px){
		background: url('../images/parallax/bigBranch.svg') -45% -65% / 65% no-repeat,
				url('../images/parallax/smallBranch.svg') 110% 50% / 45% no-repeat,
				url('../images/parallax/groundLantern.svg') 5% 88% / 110% no-repeat;	
	}

	//tab portrait
	@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
		background: url('../images/parallax/bigBranch.svg') -180% 0% / 90% no-repeat,
			url('../images/parallax/smallBranch.svg') 150% 60% / 70% no-repeat,
			url('../images/parallax/groundLantern.svg') 40% 108% / 250% no-repeat;	
	 }


	//phone landscape
	@media screen and (max-width: 480px) and (min-width: 200px) and (orientation: landscape){
		background: url('../images/parallax/bigBranch.svg') -45% -25% / 65% no-repeat,
			url('../images/parallax/smallBranch.svg') 110% 50% / 45% no-repeat,
			url('../images/parallax/groundLantern.svg') 5% 88% / 110% no-repeat;	
	}

	//phone Portrait
	@media screen and (max-width: 480px) and (min-width: 200px) and (orientation: portrait){
		background: url('../images/parallax/bigBranch.svg') 500% -15% / 105% no-repeat,
			url('../images/parallax/smallBranch.svg') 150% 60% / 70% no-repeat,
			url('../images/parallax/groundLantern.svg') 40% 88% / 200% no-repeat;	
	}

}

body {
	// background-color: black;
}

.patch {
	margin: -10vh 0;
	width: 100%;
	height: 30rem;
	background-color: black;

	//phone portrait
	@media screen and (max-width: 480px) and (min-width: 200px) and (orientation: portrait){
		margin: -10vh 0;
	}

	@media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait){
		margin: 0;
	}
}








