
/*********  contact Page  **********/


#contact{
	background-color: black;
	padding-bottom: 10rem;
}

#contact .titleWrap {
	padding-top: 8rem; //adjust for nav hooks
}

#contactDetails{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#contactDetails a{
	display: inline-block;
	width: 15%;
}

#contactDetails img {
	max-width: 90%;
	padding: 5%;
}



/********** page source  ************/

#pageSource.sourceCode{
	width: 100%;
	text-align: center;
	line-height: 3rem;
}

@media screen and (max-width: 768px){
	#contact{
		padding-top: 8rem;
	}
}