

/*********  contact Page  **********/

#contact{
	margin-bottom: 5rem;
}

#contactDetails{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#contactDetails a{
	display: inline-block;
	width: 15%;
}

#contactDetails img {
	max-width: 90%;
	padding: 5%;
}



/********** page source  ************/

#pageSource.sourceCode{
	width: 100%;
	text-align: center;
	line-height: 3rem;
}
