/*********  Skills Page  **********/
@import "skillVals";

#skills{
	width: 80%;
	height: 80rem;
	.halfColumn{
		margin: 0 2%;
	}
}

#skills .titleWrap{
	margin-top: 0;
	padding-top: 4rem;
}

.full, .empty{
	float: left;
	height: 1rem;
	width: 50%;
	background-color: rgba(255, 255, 255, 1);
}
.empty {
	background-color: rgba(255, 255, 255, .5);
}

//for "coming soon" text in progress Bars
.empty p{
	font-size: .8rem;
	line-height: 1rem;
	text-align: center;
	width: 100%;
}

#skillHighlights{
	border-bottom: 2px solid white;
	width: 80%;
	margin: 0 auto;
}

.moreSkills{
	width: 90%;
	margin: 0 auto;
}

.skillWrapper {
	width: 100%;
}

.skillWrapper > p {
	margin-top: 1rem;
	min-width: 30%;
}

.skillWrapper > img{

	max-width: 25%;
	margin-right: 5%;
}

.skillBar img {
	max-width: 14%;
}

.moreSkills {
	.skillBar {
		width: 100%;
		padding-left: 2rem;
	}
}

#skillHighlights{
	.skillWrapper{
		margin-top: 1.5rem;
	}

	.skillWrapper > img, .skillBar{
		float: left;
	}
	.skillBar{
		margin-top: 1rem;
		width: 70%;
	}

}

//tab portrait and below
@media screen and (max-width: 768px){
	#skillDetails{
		padding-left: 8%;
		width: 100%;
	}
	#skills {
		width: 100%;
	}

	#skillHighlights {
		width: 100%;
	}

	#skillHighlights .skillBar {
		width: 70%;
	}

	#skillHighlights img{
		width: 20%;
	}

}


//phone portrait and below
@media screen and (max-width: 480px)/* and (orientation: portrait)*/{
	#skills{
		height: 90rem;
		margin-top: 5rem;
	}

	#skillDetails{
		.halfColumn{
			width: 100%;
			margin: 0 auto;
			float: none;
		}

		.moreSkills{
			width: 100%;
		}
	}
}



//Background

#archBG{
	width: 100%;

	//large width
	@media screen and (min-width: 1200px){
	background: url('../images/archParallax/arch.svg') -9rem -3rem / 120% no-repeat,
	url('../images/archParallax/doublePlant.svg') 0 -15rem / 100% no-repeat,
	url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	}

	//medium width
	@media screen and (max-width: 1200px) and (min-width: 480px){
	background: url('../images/archParallax/arch.svg') -16rem -5rem / 150% no-repeat,
	url('../images/archParallax/doublePlant.svg') -4rem -20rem / 110% no-repeat,
	url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	 }	

	//tab portrait
	@media screen and (max-width: 768px){
		background: url('../images/archParallax/arch.svg') -10rem -5rem / 150% no-repeat,
		url('../images/archParallax/doublePlant.svg') -4rem -20rem / 110% no-repeat,
		url('../images/archParallax/groundPlants.svg') -10rem 60rem / 130% no-repeat;
	}

	//phone, tab portrait
	@media screen and (max-width: 480px){
		background: url('../images/archParallax/groundPlants.svg') -3rem 230vh / 140% no-repeat;
	}

}




@media screen and (max-width: 480px) and (orientation: portrait){
	#skills{
		width: 100%;
	}
}
