/*********  Used-in-lots-of-places-stuff  **********/

//Title details 

.titleWrap{
	width: 50%;
	margin: 3rem auto 6rem auto;

	//so, when a nav link is clicked
	//the section heading won't be chopped off by the nav
	height: 10rem;
	padding-top: 5rem;
}

#contact, #projects{
	// height: 10rem;
	padding-top: 0;
}

.titleWrap .angle, .titleWrap h3{
	float: left;
	width: 20%;
}

.titleWrap h3 {
	text-align: center;
	width: 50%;
	margin: 1rem 5% 0 5%;
}

div.angle {
	height: 5rem;
}

//tab portrait and smaller
@media screen and (max-width: 480px){
	.titleWrap{
		width: 90%;
		margin: 0 auto;
	}
	div.angle {
		height: 8rem;
	}	
}


#about, #skills, #projects, #contact {
	margin: 0 auto;
	margin-top: 20rem;
	@media screen and (max-width: 480px){
		margin-top: 5rem;		
	}
}


