#nameContainer {
	position: relative;
	left: 40%;
	top: 36%;
	z-index: 0;
}

//tab portrait
@media screen and (max-width: 768px) and (min-width: 400px) and (orientation: portrait){
	#nameContainer {
		top: 35%;
		left: 20%;
	}	
}

//phone landscape
@media screen and (max-width: 480px) and (min-width: 320px) and (orientation: landscape){ 
	#nameContainer {
		top: 26%;
		left: 18%;
	}
}

//Phone portrait
@media screen and (max-width: 320px) and (min-width: 100px) and (orientation: portrait){

	#nameContainer {
		top: 36%;
		left: 10%;
	}

}

#headshot {
	width: 30%;
}

#headshot img {
	height: 100%;
	width: 100%;
	-webkit-filter: grayscale(0.3);
}

img#photo{
	margin-top: 3px;
	height: 99%;
	width: 99%;
}

img#overlay {
	position: absolute;
	z-index: 1;
	width: inherit;
	height: inherit;
}

//Title details 

.titleWrap{
	width: 50%;
	margin: 3rem auto 6rem auto;
}

.titleWrap .angle, .titleWrap h3{
	float: left;
	width: 20%;
}

.titleWrap h3 {
	text-align: center;
	width: 50%;
	margin: 1rem 5% 0 5%;
}

div.angle {
	height: 5rem;
}



//projects

#projectDetails{
	width: 80%;
	margin: 0 auto;
}

.projectWrap {
	margin-bottom: 4rem;
}


//skills

#skillDetails {
	width: 80%;
	margin: 0 auto;
}

