

body, h1{
	font-family: "Raleway";
	font-size: 4rem;
	color: white;
}

h2{
	font-family: "Calligraffitti";
	line-height: 2.3rem;
}

h1 {
	font-size: 3rem; 
}

h2 {
	font-size: 1.5rem;
}

nav {
	font-size: 2rem;

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		color: black;
		background-color: white;
	}
}


//phone landscape and smaller
@media screen and (max-width: 480px) and (min-width: 200px){
	h1 {
		font-size: 1.5rem; 
	}
	h2 {
		font-size: .5rem;
	}
}
