

body, h1{
	font-family: "Raleway";
	color: white;
	font-size: 1.5rem;
	line-height: 3rem;
}


h1 {
	font-size: 3.8rem; 
	line-height: 4.2rem;
}

h2, h3, h4{
	font-family: "Calligraffitti";
	line-height: 3rem;
	font-size: 2.5rem;
}

h3 {
	font-size: 4rem;
}

h4{
	font-size: 3rem;
}

nav {
	font-size: 2rem;

	a{
		color: white;
		text-decoration: none;
	}

	a:hover{
		color: black;
		background-color: white;
	}
}


//phone landscape and smaller
@media screen and (max-width: 480px) and (min-width: 200px){
	h1 {
		font-size: 1.8rem; 
	}
	h2 {
		font-size: 1rem;
	}
}
