#nameContainer {
	position: relative;
	left: 40%;
	top: 36%;
	z-index: 0;
}

//tab portrait
@media screen and (max-width: 768px) and (min-width: 400px) and (orientation: portrait){
	#nameContainer {
		top: 35%;
		left: 20%;
	}	
}

//phone landscape
@media screen and (max-width: 480px) and (min-width: 320px) and (orientation: landscape){ 
	#nameContainer {
		top: 26%;
		left: 18%;
	}
}

//Phone portrait
@media screen and (max-width: 320px) and (min-width: 100px) and (orientation: portrait){

	#nameContainer {
		top: 36%;
		left: 10%;
	}

}


#projects {
	background-color: black;
	width: 100%;
	height: 200vh;
}

div.angle {
	width: 10%;
	height: 5rem;
	// border-radius: 0 100% 0 0;
	// background: linear-gradient(to top, #3A30A3 20%, #001e78 80%);
}



// div.circular{
// 	width: 12%;
// 	height: 15%;
// 	border-radius: 50%;
// 	background: url('../images/detail/circular.svg') center / 110% no-repeat,
// 				#001e78;
// }




