// Variables
@use './variables/variables' as *; // forwards colors, rainbow, breakpoints

// utils
@use "./utilities/media-queries" as *;
@use "./utilities/grid";

// elements
@use "./elements/buttons";
@use "./elements/canvas";
@use "./elements/forms";
@use "./elements/icons";
@use "./elements/images";
@use "./elements/links";
@use "./elements/lists";
@use "./elements/tables";

// partials
@use "./partials/block-transition";
@use "./partials/navigation";
@use "./partials/filter-select";
@use "./partials/about";
@use "./partials/social-sidebar";
@use "./partials/layout";
@use "./partials/typography";
@use "./partials/color-bar";
@use "./partials/trapezoids";
@use "./partials/social-link";
@use "./partials/slider";
@use "./partials/dialog";
@use "./partials/project-page";
@use "./partials/stack-table";

/*******************
    FONT IMPORTS
********************/

@font-face {
  font-family: 'Lester Bold';
  src: url('/assets/fonts/lester-bold.ttf'), format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/**************
    GLOBALS
***************/

* {
  box-sizing: border-box;
}

:root {
  background-color: $black;
}

body {
  margin: 0;
  scroll-behavior: smooth;


  // CSS Variables
  --rainbow-w: calc(#{$line-width-xsm} * 5);
  --double-rainbow-w: calc(#{$line-width-xsm}  * 10);
  --content-gap: #{$content-gap};

  @include only-above($small-bp) {
    --rainbow-w: calc(#{$line-width-sm} * 5);
    --double-rainbow-w: calc(#{$line-width-sm} * 10);
  }

  @include only-above($medium-bp) {
    --rainbow-w: calc(#{$line-width-med} * 5);
    --double-rainbow-w: calc(#{$line-width-med} * 10);
    --content-gap: #{$content-gap-med};
  }

  @include only-above($extra-wide-bp) {
    --rainbow-w: calc(#{$line-width-lg} * 5);
    --double-rainbow-w: calc(#{$line-width-lg} * 10);
  }
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.right {
  margin: 0 0 1.2rem 0;

  @include only-above($small-bp) {
    float: right;
    margin-left: 1.2rem;
    width: 50%;
  }
}

.left {
  margin: 0 0 1.2rem 0;

  @include only-above($small-bp) {
    float: left;
    margin-right: 1.2rem;
    width: 50%;
  }
}

.short {
  height: 40vh;
}

.clear:after {
  content: '';
  clear: both;
  display: table-cell;
}

.outdent-1 {
  @include only-above($medium-bp) {
    margin-left: -1rem;
  }
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

.indent-3 {
  margin-left: 3rem;
}

.indent-4 {
  margin-left: 4rem;
}

.indent-4-above-med {
  margin-left: 2rem;

  @include only-above($medium-bp) {
    margin-left: 4rem;
  }
}

*:focus-visible {
  outline: none;
  box-shadow: rgba($pink, .3) 3px 3px 3px, rgba($pink, .3) -3px -3px 3px;
  border: 2px solid $pink !important;
}