// Variables
@use './variables/colors' as *;
@use './variables/globals' as *;

// elements
@use "./elements/buttons";
@use "./elements/forms";
@use "./elements/icons";
@use "./elements/images";
@use "./elements/links";
@use "./elements/lists";
@use "./elements/tables";


@use "./utilities/grid";

// partials
@use "./partials/navigation";
@use "./partials/filter-select";
@use "./partials/about";
@use "./partials/social-sidebar";
@use "./partials/layout";
@use "./partials/typography";
@use "./partials/color-bar";
@use "./partials/trapezoids";
@use "./partials/social-link";


/*******************
    FONT IMPORTS
********************/

@font-face {
  font-family: 'Lester Bold';
  src: url('/assets/fonts/lester-bold.ttf'), format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/**************
    GLOBALS
***************/

* {
  box-sizing: border-box;
}

:root {
  background-color: $black;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.indent-2 {
  margin-left: 2rem;
}