// Variables
@use './variables/colors' as *;
@use './variables/fonts' as *;
@use './variables/globals' as *;

// elements
@use "./elements/buttons";
@use "./elements/forms";
@use "./elements/icons";
@use "./elements/images";
@use "./elements/links";
@use "./elements/lists";
@use "./elements/tables";

// partials
@use "./partials/layout";
@use "./partials/typography";
// @use "./partials/navigation";

// // sections
// @use "./sections/title";
// @use "./sections/about";
// @use "./sections/projects";
// @use "./sections/experience";
// @use "./sections/contact";

/*******************
    FONT IMPORTS
********************/

@font-face {
  font-family: 'Open Dyslexic';
  src: url('/assets/fonts/open_dyslexic/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('/assets/fonts/open_dyslexic/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('/assets/fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('/assets/fonts/open_dyslexic/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lester Bold';
  src: url('/assets/fonts/lester-bold.ttf'), format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  // src: url('/assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  src: url('/assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

@font-face {
  font-family: 'Lexend';
  // src: url('/assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  src: url('/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}


/**************
    GLOBALS
***************/

* {
  box-sizing: border-box;
}

:root {
  background-color: $black;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.text-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}