* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 4rem;
  color: white; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem; }

nav {
  font-size: 2rem; }
  nav a {
    color: white;
    text-decoration: none; }
  nav a:hover {
    color: black;
    background-color: white; }

@media screen and (max-width: 768px) and (min-width: 200px) {
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: .5rem; } }
div#scene1 {
  width: 100%;
  height: 100vh;
  background: url("../images/parallax/bothTrees.svg") 70% -20%/120% no-repeat, url("../images/parallax/groundLantern.svg") 5% 88%/110% no-repeat, url("../images/parallax/nearMountains.svg") 5% 100%/110% no-repeat, url("../images/parallax/midMountains.svg") 15% 83%/120% no-repeat, url("../images/parallax/farMountains.svg") 5% 85%/110% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); }
  @media screen and (max-width: 480px) and (min-width: 200px) {
    div#scene1 {
      background: url("../images/parallax/bothTrees.svg") 70% -20%/120% no-repeat, url("../images/parallax/groundLantern.svg") 5% 88%/110% no-repeat, url("../images/parallax/nearMountains.svg") 5% 100%/110% no-repeat, url("../images/parallax/midMountains.svg") 15% 83%/120% no-repeat, url("../images/parallax/farMountains.svg") 5% 85%/110% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }
  @media screen and (max-width: 320px) and (min-width: 200px) {
    div#scene1 {
      background: url("../images/parallax/bothTreesPortrait.svg") 40% 0%/160% no-repeat, url("../images/parallax/groundLantern.svg") 40% 68%/200% no-repeat, url("../images/parallax/nearMountains.svg") 50% 80%/250% no-repeat, url("../images/parallax/midMountains.svg") 50% 70%/250% no-repeat, url("../images/parallax/farMountains.svg") 50% 70%/250% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }

div#flatBlack1 {
  margin: -10vh 0;
  width: 100%;
  height: 100vh;
  background-color: black; }
  @media screen and (max-width: 320px) and (min-width: 200px) {
    div#flatBlack1 {
      margin: -25vh 0; } }

.group {
  content: "";
  display: table;
  clear: both; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  overflow: hidden; }

img {
  max-width: 100%; }

#nameContainer {
  position: relative;
  left: 40%;
  top: 36%;
  z-index: 0; }

nav {
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 10; }
  nav li {
    display: inline-block;
    float: left;
    width: 10%;
    margin: 0 2%; }

.mobileNav {
  display: none; }

a {
  display: inline-block;
  padding: 1rem; }

@media screen and (max-width: 768px) and (min-width: 200px) {
  nav li {
    display: none;
    height: 2rem;
    width: auto; }
  nav li#hamburger {
    float: right;
    display: block;
    height: 6rem;
    padding-top: 1rem;
    text-align: center; }
  nav a:hover {
    background-color: transparent; }
  nav a {
    width: 100%;
    height: 100%; }
  nav .svgContainer {
    max-width: 70%;
    margin: 0; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  nav.webNav {
    margin-top: -1rem;
    background-color: transparent; }

  .svgContainer {
    max-width: 60%; }

  li#hamburger {
    padding-top: 0; } }
@media screen and (max-width: 320px) and (min-width: 100px) {
  nav.webNav {
    margin-top: 0rem; }

  .svgContainer {
    max-width: 50%; }

  #nameContainer {
    top: 22%;
    left: 38%; }

  li#hamburger {
    padding-top: 0;
    margin-top: -1rem; } }
