
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.group {
	content: "";
	display: table;
	clear: both;
}


.wideOnly{
	display: none;
}

.flipped {
	transform: scaleX(-1);
}

.fullScreen {
	width: 100%;
}

.smallColumn{
	width: 25%;
	margin: 0 4%%;
	float: left;
}

.largeColumn{
	width: 58%;
	margin: 0 4%;
	float: left;
}

.halfColumn{
	width: 42%;
	margin: 0 4%;
	float: left;
}

html, body{
	max-width: 100%;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a img:hover{
	transform: scale(1.1, 1.1);
}

@import "text";
@import "nav";
@import "textAndDetailLayout";
@import "home", "about", "contact", "skills", "projects";





