* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, h1 {
  font-family: "Droid Sans", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem; }

h1 {
  font-size: 4rem;
  line-height: 4.2rem; }

h2, h3 {
  font-family: "Calligraffitti", serif;
  font-size: 1.8rem;
  line-height: 2.4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem;
  line-height: 3.4rem; }

nav {
  font-size: 1.3rem; }
  nav a {
    color: white;
    text-decoration: none; }
  nav a:hover {
    color: black;
    background-color: white;
    font-weight: normal; }

a:hover {
  font-weight: bolder; }

h4 a {
  text-decoration: none; }

h4 a:visited {
  color: white; }

@media screen and (max-width: 480px) and (min-width: 200px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.7rem; }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem; } }
div#top {
  width: 100%;
  height: 100vh;
  background: url("../images/parallax/bigBranch.svg") -45% 0%/65% no-repeat, url("../images/parallax/smallBranch.svg") 110% 50%/45% no-repeat, url("../images/parallax/groundLantern.svg") 5% 88%/110% no-repeat, url("../images/parallax/nearMountains.svg") 5% 85%/110% no-repeat, url("../images/parallax/midMountains.svg") 15% 83%/120% no-repeat, url("../images/parallax/farMountains.svg") 5% 85%/110% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); }
  @media screen and (min-width: 1100px) {
    div#top {
      background: url("../images/parallax/bigBranch.svg") -45% -65%/65% no-repeat, url("../images/parallax/smallBranch.svg") 110% 50%/45% no-repeat, url("../images/parallax/groundLantern.svg") 5% 88%/110% no-repeat, url("../images/parallax/nearMountains.svg") 5% 100%/110% no-repeat, url("../images/parallax/midMountains.svg") 15% 83%/120% no-repeat, url("../images/parallax/farMountains.svg") 5% 85%/110% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }
  @media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait) {
    div#top {
      background: url("../images/parallax/bigBranch.svg") -180% 0%/90% no-repeat, url("../images/parallax/smallBranch.svg") 150% 60%/70% no-repeat, url("../images/parallax/groundLantern.svg") 40% 108%/250% no-repeat, url("../images/parallax/nearMountains.svg") 50% 120%/250% no-repeat, url("../images/parallax/midMountains.svg") 50% 105%/250% no-repeat, url("../images/parallax/farMountains.svg") 50% 100%/250% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }
  @media screen and (max-width: 480px) and (min-width: 200px) and (orientation: landscape) {
    div#top {
      background: url("../images/parallax/bigBranch.svg") -45% -25%/65% no-repeat, url("../images/parallax/smallBranch.svg") 110% 50%/45% no-repeat, url("../images/parallax/groundLantern.svg") 5% 88%/110% no-repeat, url("../images/parallax/nearMountains.svg") 5% 100%/110% no-repeat, url("../images/parallax/midMountains.svg") 15% 83%/120% no-repeat, url("../images/parallax/farMountains.svg") 5% 85%/110% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }
  @media screen and (max-width: 480px) and (min-width: 200px) and (orientation: portrait) {
    div#top {
      background: url("../images/parallax/bigBranch.svg") 500% -15%/105% no-repeat, url("../images/parallax/smallBranch.svg") 150% 60%/70% no-repeat, url("../images/parallax/groundLantern.svg") 40% 88%/200% no-repeat, url("../images/parallax/nearMountains.svg") 50% 100%/250% no-repeat, url("../images/parallax/midMountains.svg") 50% 90%/250% no-repeat, url("../images/parallax/farMountains.svg") 50% 90%/250% no-repeat, linear-gradient(to top, white 0%, #8682aa 20%, #001e78 80%); } }

body {
  background-color: black; }

.patch {
  margin: -10vh 0;
  width: 100%;
  height: 15vh;
  background-color: black; }
  @media screen and (max-width: 480px) and (min-width: 200px) and (orientation: portrait) {
    .patch {
      margin: -10vh 0; } }
  @media screen and (max-width: 768px) and (min-width: 480px) and (orientation: portrait) {
    .patch {
      margin: 0; } }

nav {
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 10; }
  nav li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 12%;
    margin: 0 3%; }

.mobileNav {
  display: none; }

a {
  display: inline-block;
  padding: 1rem; }

@media screen and (max-width: 768px) and (min-width: 200px) {
  nav.webNav {
    margin-top: -0.5rem; }
  nav li {
    display: none;
    height: 2rem;
    width: auto;
    margin: 0 -1rem 0 -1rem; }
  nav li#hamburger {
    float: right;
    display: block;
    height: 4.8rem;
    padding-top: 0;
    text-align: center; }
  nav a:hover {
    background-color: transparent; }
  nav a {
    width: 100%;
    height: 100%; }
  nav .svgContainer {
    max-width: 70%; } }
@media screen and (max-width: 480px) and (min-width: 320px) {
  nav.webNav {
    background-color: transparent; }

  .svgContainer {
    max-width: 60%; }

  li#hamburger {
    padding-top: 0; }

  #nameContainer {
    top: 26%; } }
@media screen and (max-width: 320px) and (min-width: 100px) {
  nav.webNav {
    margin-top: 0rem; }

  .svgContainer {
    max-width: 50%; }

  #nameContainer {
    top: 36%;
    left: 10%; }

  li#hamburger {
    padding-top: 0;
    margin-top: -1rem; } }
/*********  Used-in-lots-of-places-stuff  **********/
.titleWrap {
  width: 50%;
  margin: 3rem auto 6rem auto;
  height: 10rem;
  padding-top: 5rem; }

.titleWrap .angle, .titleWrap h3 {
  float: left;
  width: 20%; }

.titleWrap h3 {
  text-align: center;
  width: 50%;
  margin: 1rem 5% 0 5%; }

div.angle {
  height: 5rem; }

#about {
  margin-top: 20rem; }

#projects, #skills, #contact {
  margin-top: 25rem; }

/*********  Home Page  **********/
#nameContainer {
  max-width: 90%;
  position: relative;
  left: 45%;
  top: 36%;
  z-index: 0; }
  @media screen and (max-width: 768px) and (min-width: 400px) and (orientation: portrait) {
    #nameContainer {
      top: 35%;
      left: 20%; } }
  @media screen and (max-width: 480px) and (min-width: 320px) and (orientation: landscape) {
    #nameContainer {
      top: 26%;
      left: 18%; } }
  @media screen and (max-width: 320px) and (min-width: 100px) and (orientation: portrait) {
    #nameContainer {
      top: 36%;
      left: 10%; } }

#nameContainer h2 {
  margin-left: 6%; }
  #nameContainer h2:nth-of-type(2) {
    margin-left: 30%; }
  @media screen and (max-width: 768px) and (min-width: 200px) {
    #nameContainer h2 {
      max-width: 60%; } }

@media screen and (min-width: 1000px) {
  #nameContainer h2 {
    display: none; }

  #nameContainer h2.wideOnly {
    display: block; } }
/*********  About Page  **********/
#about {
  width: 100%; }

div.titleWrap:first-of-type {
  position: relative;
  z-index: 2; }

#about .group {
  margin: 2rem auto 0 auto;
  background-color: black;
  width: 80%; }

div.caption, div#headshot {
  width: 30%;
  margin: 5%;
  float: left;
  position: relative; }

div.caption {
  width: 50%;
  margin: 5%;
  z-index: 2; }

#headshot img {
  max-width: 110%;
  -webkit-filter: grayscale(0.3); }

div#headshot img.overlay {
  max-width: 160%;
  position: absolute;
  top: -4rem;
  left: -4rem; }

/*********  Projects Page  **********/
#projects h4 {
  margin-left: -3%; }

#projectDetails {
  width: 80%;
  margin: 0 auto; }

.projectWrap {
  margin-bottom: 1rem; }

.projectWrap a {
  display: block;
  width: 100%; }

.projectWrap a img {
  margin-top: 10%; }

p.sourceCode {
  position: relative; }

p.sourceCode a {
  margin: -5rem 0 0 10%; }

p.sourceCode a:before {
  content: url("../images/skill_icons/githubSm.svg");
  display: inline;
  position: relative;
  top: 2.8rem;
  left: 1.5rem; }

/*********  Home Page  **********/
#skillDetails {
  width: 80%;
  margin: 0 auto; }

.wideOnly {
  display: none; }

.flipped {
  transform: scaleX(-1); }

.group {
  content: "";
  display: table;
  clear: both; }

.smallColumn {
  width: 25%;
  margin: 0 4%%;
  float: left; }

.largeColumn {
  width: 58%;
  margin: 0 4%;
  float: left; }

.halfColumn {
  width: 42%;
  margin: 0 4%;
  float: left; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

img {
  max-width: 100%; }

a img:hover {
  transform: scale(1.1, 1.1); }
