* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@import "text";
@import "backgroundLayout";
@import "nav";
@import "textAndDetailLayout";

.group {
	content: "";
	display: table;
	clear: both;
}

html, body{
	max-width: 100%;
	overflow-x: hidden;
}
html{
	overflow: hidden;
}

img {
	max-width: 100%;
}


// div.circular{
// 	width: 12%;
// 	height: 15%;
// 	border-radius: 50%;
// 	background: url('../images/detail/circular.svg') center / 110% no-repeat,
// 				#001e78;
// }


