* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }


@import "text";
@import "lanternScene";

.group {
	content: "";
	display: table;
	clear: both;
}

html, body{
	max-width: 100%;
	overflow-x: hidden;
}
html{
	overflow: hidden;
}

img {
	max-width: 100%;
}

#nameContainer {
	position: relative;
	left: 40%;
	top: 36%;
	z-index: 0;
}

nav{
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 10;

	li {
		display: inline-block;
		float: left;
		
		text-align: center;
		width: 12%;
		margin: 0 3%;
	}
} 


.mobileNav {
	display: none;
}

a{
	display: inline-block;
	padding: 1rem;
}


// div.circular{
// 	width: 12%;
// 	height: 15%;
// 	border-radius: 50%;
// 	background: url('../images/detail/circular.svg') center / 110% no-repeat,
// 				#001e78;
// }


@import "mediaQueries";
