@use 'sass:list';

// cmyk-ish
$blue: #0084CE;
$green: #82A900;
$yellow: #EBE000;
$orange: #EE6B0F;
$pink: #E2006A;

// grayscale
// $blue: #b8b8b8;
// $green: #888888;
// $yellow: #5e5e5e;
// $orange: #444444;
// $pink: #232323;


$black: #000;
$white: #FFF;

$rainbow-gradient-vert: linear-gradient(
    90deg,
    $pink 0%,
    $pink 20%,
    $orange 20%,
    $orange 40%,
    $yellow 40%,
    $yellow 60%,
    $green 60%,
    $green 80%,
    $blue 80%,
    $blue 100%,
);

$rainbow-gradient-horiz: linear-gradient(
    180deg,
    $pink 0%,
    $pink 20%,
    $orange 20%,
    $orange 40%,
    $yellow 40%,
    $yellow 60%,
    $green 60%,
    $green 80%,
    $blue 80%,
    $blue 100%,
);