@use "./_breakpoints" as *;
@use "./_colors" as *;

$primary-font: 'Inter', Arial, Helvetica, sans-serif;
$accent-font: 'Lester Bold';

$page-min-width: $mini-bp;
$page-med-width: 960px;
$page-max-width: 1080px;

$body-font-xsm: .9rem;
$body-font-sm: 1rem;
$body-font-med: 1.2rem;
$body-font-lg: 1.6rem;

$paper-texture-url: url('/assets/images/concrete-wall-tileable.jpg');

$text-transition: .1s ease-in;
$bg-transition: .2s ease-in;

$nav-height: 45px;
// $nav-height-med: 60px;

// Normal
$body-bg-color: #000;
$page-bg-color: #fff;
$text-color: #000;
$bg-color: transparent;
$border-color: #000;
$highlight-text-color: #fff;
$highlight-bg-color: #000;
$highlight-border-color: #000;
$paper-texture-opacity: 20%;


// Dark mode
$drk-page-bg-color: #313130;
$drk-text-color: #fff;
$drk-text-color-alt: #bebebe; // Unique to dark scheme
$drk-bg-color: #1f1f1f;
$drk-border-color: #1f1f1f; // #161616
$drk-highlight-text-color: #fff;
$drk-highlight-bg-color: #000;
$drk-highlight-border-color: #000;
$drk-paper-texture-opacity: 10%;
