@use "./_breakpoints" as *;;

$primary-font: 'Inter', Arial, Helvetica, sans-serif;
$accent-font: 'Lester Bold';

$page-min-width: $mini-bp;
$page-med-width: 960px;
$page-max-width: 1080px;

$body-font-xsm: .9rem;
$body-font-sm: 1rem;
$body-font-med: 1.2rem;
$body-font-lg: 1.6rem;

$paper-texture-url: url('assets/images/concrete-wall-tileable.jpg');
