/* enforces line heights */
/**************
    BUTTONS
***************/
.btn {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 2px;
  font-weight: 600;
  transition: color 0.1s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
}
.btn:hover, .btn.selected {
  color: #fff;
  background-color: #000;
}
@media (prefers-color-scheme: dark) {
  .btn {
    color: #bebebe;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
  }
  .btn:hover, .btn.selected {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
}

.btn-submit {
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-family: "Lester Bold";
  padding: 4px;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 769px) {
  .btn-submit {
    width: auto;
  }
}

/**************
    FORMS
***************/
form {
  width: 100%;
  margin-bottom: 24px;
}
form button[type=submit] {
  margin: 24px 0 auto;
  height: auto;
  padding: 8px 4px;
}
@media (min-width: 769px) {
  form button[type=submit] {
    width: auto;
    float: right;
  }
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 1rem;
}

input {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  input {
    color: #fff;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
  }
}

textarea {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 250px;
  margin-bottom: 8px;
}
@media (prefers-color-scheme: dark) {
  textarea {
    color: #fff;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
  }
}

.submission-msg {
  max-width: 350px;
}

/**************
    SELECT
***************/
select {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  padding: 4px 32px 4px 8px;
}

/**************
     ICONS
***************/
.icon-sm {
  max-width: 24px;
  filter: invert(0);
}

.icon-lg {
  max-width: 35px;
  margin: 8px;
}

.icon svg {
  width: 100%;
}

img {
  max-width: 100%;
}

/**************
    LINKS
***************/
.link {
  margin-right: 16px;
}

.link::before {
  content: "";
  background: url("assets/icons/link-solid.svg") no-repeat;
  display: inline-block;
  height: 12px;
  width: 16px;
}

/**************
    LISTS
***************/
:is(ol, ul, li) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/**************
    TABLES
***************/
:is(table, th, td, tr) {
  padding: 0;
  font: inherit;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid #000;
}

td, th {
  padding: 4px;
}

th:first-of-type {
  text-align: left;
}

td {
  text-align: center;
}

tr {
  border-bottom: 1px solid #000;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

/**************
      GRID
***************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-gap: 16px;
}
.grid > * {
  grid-column: auto/span 12;
}
.grid .half {
  grid-column: auto/span 6;
}
.grid .one-third {
  grid-column: auto/span 4;
}
.grid .two-third {
  grid-column: auto/span 8;
}

@media (min-width: 560px) {
  .grid-at-small {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-small > * {
    grid-column: auto/span 12;
  }
  .grid-at-small .half {
    grid-column: auto/span 6;
  }
  .grid-at-small .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-small .two-third {
    grid-column: auto/span 8;
  }
}

@media (min-width: 769px) {
  .grid-at-med {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-med > * {
    grid-column: auto/span 12;
  }
  .grid-at-med .half {
    grid-column: auto/span 6;
  }
  .grid-at-med .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-med .two-third {
    grid-column: auto/span 8;
  }
}

.nav {
  background-color: #000;
  width: 100%;
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav-links {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  display: grid;
  max-width: 1080px;
  margin: 0 auto;
}
.nav-links span {
  vertical-align: middle;
}
.nav-links .icon {
  display: inline-block;
  width: 1.2rem;
  padding: 0 4px;
}
.nav-links .icon svg {
  fill: #FFF;
}

.nav-link {
  white-space: nowrap;
  padding: 4px 8px;
  border: 2px solid #000;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  background-color: #000;
  text-transform: lowercase;
}
.nav-link:hover {
  color: #000;
  background-color: #FFF;
}
.nav-link:hover svg {
  fill: #000;
}

.filter-projects-group {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 560px) {
  .filter-projects-group {
    margin-bottom: 48px;
  }
}
@media (min-width: 560px) {
  .filter-projects-group {
    order: 1;
    justify-self: start;
  }
}

.filter-projects-label {
  font-size: 0.7rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
}

.filter-projects-select {
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15rem;
  width: auto;
}
@media (max-width: 560px) {
  .filter-projects-select {
    width: 100%;
  }
}

/**************
    TITLES
***************/
/*************
  About
**************/
.deco-font-1 {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 3rem;
  font-weight: 700;
}

.deco-font-2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  line-height: 1.8rem;
}

.deco-font-3 {
  font-size: 1.4rem;
  line-height: 2rem;
}

.social-sidebar {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .social-sidebar {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .social-sidebar {
    min-width: 200px;
  }
}

.made-with-love {
  border-bottom: 3px solid #000;
  padding: 8px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 1.5rem;
}
@media (prefers-color-scheme: dark) {
  .made-with-love {
    border-color: #1f1f1f;
  }
}
.made-with-love .icon-love {
  display: inline-block;
  max-width: 24px;
  line-height: 0px;
}
@media (prefers-color-scheme: dark) {
  .made-with-love .icon-love svg {
    fill: #fff;
  }
}

/*
  We have a selector that can select based on the previous
  sibling's class...

  .make-the-next-p-different + p {
    // rules are applied to p tags that are
    // PRECEEDED by `.make-the-next-p-different`
  }

  but not one that can select based on the
  NEXT sibling's class.

  p - .make-the-previous-p-different {
    // this selector doesn't exist :(
  }

  this is just a slightly more readable way to do that.
*/
/********************
   ROOT
*********************/
.background {
  position: relative;
  background-color: #000;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
  margin-top: 45px;
}
.background:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("assets/images/concrete-wall-tileable.jpg");
  opacity: 20%;
  z-index: 0;
}
@media (prefers-color-scheme: dark) {
  .background:before {
    opacity: 10%;
  }
}

/********************
   PAGE
*********************/
.page {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  color: #000;
  margin: 0 auto;
  max-width: 960px;
  min-width: 360px;
  margin-bottom: 180px;
  z-index: 1;
}
@media (min-width: 1280px) {
  .page {
    max-width: 1080px;
  }
}
.page:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("assets/images/concrete-wall-tileable.jpg");
  z-index: 2;
  opacity: 20%;
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  .page {
    background-color: #313130;
    color: #fff;
  }
  .page:after {
    opacity: 13%;
  }
}

/********************
   CANVAS
*********************/
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

/**************
SECTION
***************/
.section-heading {
  padding-bottom: 48px;
}

.section-subheading {
  padding-bottom: 40px;
}

/**************
CONTENT
***************/
.content {
  max-width: 720px;
  padding: 4rem 64px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.content.content-projects {
  padding-bottom: 18px;
}
.content.content-projects .subtitle-2 {
  text-align: center;
}
@media (min-width: 769px) {
  .content.content-projects {
    padding-bottom: 48px;
  }
}
.content.content-projects ul {
  margin-bottom: 16px;
}
.content.content-projects h3 {
  text-align: left;
}
@media (min-width: 560px) {
  .content.content-projects h3 {
    text-align: right;
    order: 2;
  }
}
.content.content-projects h4,
.content.content-projects ul {
  order: 3;
}
@media (max-width: 769px) {
  .content.content-projects ul:last-of-type .entry:last-of-type {
    margin-right: 15%;
  }
}

.content-experience {
  max-width: 80%;
  margin: 0 auto;
  margin-left: 12%;
  padding: 4rem 0 4rem 63px;
}
.content-experience .title-2 {
  margin-left: -25px;
}

.content-contact {
  padding: 4rem 72px 10px 56px;
  min-height: 560px;
}

/**************
      ENTRY
***************/
.entry {
  padding-bottom: 32px;
}
.entry:has(+ .section-subheading) {
  padding-bottom: 40px;
}
.entry:last-of-type {
  margin-bottom: 0;
}

/****************
    ROOT FONT
*****************/
:root {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 300;
}
@media (min-width: 560px) {
  :root {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 769px) {
  :root {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/**************
    RESETS
***************/
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
  margin: 0 0 4px 0;
}

:is(em, i) {
  font: inherit;
}

p {
  margin-bottom: 12px;
}

/**************
    TITLES
***************/
/*
    "page" titles
        - h1/h2, once per page
*/
.title-1 {
  font-size: 3.4rem;
  line-height: 4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.subtitle-1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/
.title-2 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.subtitle-2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/
.title-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}

.supertitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: italic;
}

.subtitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
}

.color-bar {
  position: relative;
}
.color-bar:before {
  position: absolute;
  left: 0;
  top: 120px;
  content: "";
  display: block;
  width: 32px;
  height: 450px;
  background: linear-gradient(180deg, #E2006A 0%, #E2006A 20%, #EE6B0F 20%, #EE6B0F 40%, #EBE000 40%, #EBE000 60%, #82A900 60%, #82A900 80%, #0084CE 80%, #0084CE 100%);
}

/* Example usage:
    @include trapezoid('left', 30px, 15px, 300px, $black);
    @include trapezoid('right', 50px, 25px, 80px, $black);
    @include trapezoid('right', 30px, 15px, 300px, $black);
*/
.triangle-left {
  position: relative;
}
.triangle-left:before {
  position: absolute;
  content: "";
  display: block;
  height: #000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid black;
  top: 35%;
}
@media (min-width: 769px) {
  .triangle-left:before {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 50px;
  }
}
@media (min-width: 1280px) {
  .triangle-left:before {
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-left-width: 70px;
  }
}

.trapezoid-right {
  position: relative;
}
.trapezoid-right:after {
  position: absolute;
  content: "";
  display: block;
  height: 80px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #000;
  top: 33%;
  right: 0;
}
@media (min-width: 769px) {
  .trapezoid-right:after {
    border-top-width: 45px;
    border-bottom-width: 45px;
    border-right-width: 70px;
  }
}
@media (min-width: 1280px) {
  .trapezoid-right:after {
    border-top-width: 70px;
    border-bottom-width: 70px;
    border-right-width: 90px;
  }
}

.trapezoid-hug {
  position: relative;
}
.trapezoid-hug:before {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.trapezoid-hug:after {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.social-link {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  margin-bottom: 4px;
  border-radius: 3px;
  padding: 4px 8px;
  transition: background-color 0.2s ease-in;
}
.social-link svg {
  transition: fill 0.1s ease-in;
}
.social-link .icon {
  max-width: 36px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0px;
}
@media (min-width: 769px) {
  .social-link .icon {
    margin-right: 8px;
  }
}
@media (min-width: 769px) {
  .social-link {
    display: block;
    text-align: left;
  }
}
.social-link:hover {
  text-decoration: underline;
  background-color: #000;
}
.social-link:hover svg {
  fill: #fff;
}
@media (prefers-color-scheme: dark) {
  .social-link svg {
    fill: #fff;
  }
}

.social-link-text {
  display: none;
  vertical-align: middle;
  transition: color 0.1s ease-in;
}
.social-link:hover .social-link-text {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  .social-link-text {
    color: #fff;
  }
}
@media (min-width: 769px) {
  .social-link-text {
    display: inline-block;
  }
}

/*******************
    FONT IMPORTS
********************/
@font-face {
  font-family: "Lester Bold";
  src: url("/assets/fonts/lester-bold.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
/**************
    GLOBALS
***************/
* {
  box-sizing: border-box;
}

:root {
  background-color: #000;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.indent-2 {
  margin-left: 2rem;
}

/*# sourceMappingURL=App.css.map */
