/******************************************
        Forwarder Variables file
*******************************************/
/********************
   TYPOGRAPHY
*********************/
/**********************
   SPACING / LAYOUT
***********************/
/************************************
   TRANSITIONS / IMAGE URLS / ETC
*************************************/
/********************
   COLORS
*********************/
/**************
      GRID
***************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-gap: 16px;
}
.grid > *, .grid .full {
  grid-column: auto/span 12;
}
.grid .half {
  grid-column: auto/span 6;
}
.grid .one-third {
  grid-column: auto/span 4;
}
.grid .two-third {
  grid-column: auto/span 8;
}

@media (min-width: 560px) {
  .grid-at-small {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-small > *, .grid-at-small .full {
    grid-column: auto/span 12;
  }
  .grid-at-small .half {
    grid-column: auto/span 6;
  }
  .grid-at-small .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-small .two-third {
    grid-column: auto/span 8;
  }
}

@media (min-width: 769px) {
  .grid-at-med {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-med > *, .grid-at-med .full {
    grid-column: auto/span 12;
  }
  .grid-at-med .half {
    grid-column: auto/span 6;
  }
  .grid-at-med .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-med .two-third {
    grid-column: auto/span 8;
  }
}

/* enforces line heights */
/**************
    BUTTONS
***************/
@media (prefers-color-scheme: dark) {
  .btn-tag {
    color: #bebebe;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
  }
  .btn-tag:hover, .btn-tag.selected {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
}
.btn-tag {
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px;
  font-weight: 600;
  transition: color 0.1s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}
.btn-tag:hover, .btn-tag.selected {
  color: #fff;
  background-color: #000;
}

@media (prefers-color-scheme: dark) {
  .btn-submit {
    color: #bebebe;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
  }
  .btn-submit:hover, .btn-submit.selected {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }
}
.btn-submit {
  font-size: 1.2rem;
  line-height: 1.8rem;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px;
  font-weight: 600;
  transition: color 0.1s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
}
.btn-submit:hover, .btn-submit.selected {
  color: #fff;
  background-color: #000;
}
.btn-submit {
  font-size: 1.5rem;
  line-height: 2.1rem;
  font-family: "Lester Bold";
  width: 100%;
  text-transform: uppercase;
}
@media (min-width: 769px) {
  .btn-submit {
    width: auto;
  }
}

.btn-link {
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  margin-left: 8px;
}
.btn-link:hover {
  text-decoration: underline;
}

/********************
   CANVAS
*********************/
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

/**************
    FORMS
***************/
form {
  width: 100%;
  margin-bottom: 24px;
}
form button[type=submit] {
  margin: 24px 0 auto;
  height: auto;
  padding: 8px 4px;
}
@media (min-width: 769px) {
  form button[type=submit] {
    width: auto;
    float: right;
  }
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.2rem;
}

input {
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  margin-bottom: 8px;
}
input:focus {
  outline: none;
  box-shadow: rgba(226, 0, 106, 0.3) 3px 3px 3px, rgba(226, 0, 106, 0.3) -3px -3px 3px;
  border: 2px solid #E2006A;
}
@media (prefers-color-scheme: dark) {
  input {
    color: #fff;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
  }
}

textarea {
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 250px;
  margin-bottom: 8px;
}
textarea:focus {
  outline: none;
  box-shadow: rgba(226, 0, 106, 0.3) 3px 3px 3px, rgba(226, 0, 106, 0.3) -3px -3px 3px;
  border: 2px solid #E2006A;
}
@media (prefers-color-scheme: dark) {
  textarea {
    color: #fff;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
  }
}

.submission-msg {
  max-width: 350px;
}

/**************
    SELECT
***************/
select {
  display: block;
  border: 2px solid #000;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
  padding: 8px 4px;
  padding: 4px 32px 4px 8px;
}
select:focus {
  outline: none;
  box-shadow: rgba(226, 0, 106, 0.3) 3px 3px 3px, rgba(226, 0, 106, 0.3) -3px -3px 3px;
  border: 2px solid #E2006A;
}

/**************
     ICONS
***************/
.icon-sm {
  max-width: 24px;
  filter: invert(0);
}

.icon-lg {
  max-width: 35px;
  margin: 8px;
}

.icon svg {
  width: 100%;
}

img {
  max-width: 100%;
}

.img-expanded {
  display: block;
  margin: 0 auto;
}

/***************/
/**   LINKS   **/
/***************/
.link, .more-info-link {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.link:hover, .more-info-link:hover {
  text-decoration: underline;
}
.link:visited, .more-info-link:visited {
  color: #000;
}
@media (prefers-color-scheme: dark) {
  .link, .more-info-link {
    color: #fff;
  }
  .link:visited, .more-info-link:visited {
    color: #fff;
  }
}

.more-info-link {
  padding: 0 8px;
}

/**************
    LISTS
***************/
:is(ol, ul, li) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/******************************************
        Forwarder Utilities file
*******************************************/
/*
  We have a selector that can select based on the previous
  sibling's class...

  .make-the-next-p-different + p {
    // rules are applied to p tags that are
    // PRECEEDED by `.make-the-next-p-different`
  }

  but not one that can select based on the
  NEXT sibling's class.

  p - .make-the-previous-p-different {
    // this selector doesn't exist :(
  }

  this is just a slightly more readable way to do that.
*/
/**************
    TITLES
***************/
/**************
    TABLES
***************/
:is(table, th, td, tr) {
  padding: 0;
  font: inherit;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid #000;
}

th, dt {
  font-weight: 700;
}

td, th {
  height: 2rem;
  padding: 0 2px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}
@media (min-width: 769px) {
  td, th {
    padding: 4px;
    height: 3rem;
  }
}

tr {
  border-bottom: 1px solid #000;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.block-transition {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  clip-path: polygon(100% 0vh, 100% 20vh, 110% 20vh, 110% 40vh, 120% 40vh, 120% 60vh, 130% 60vh, 130% 80vh, 140% 80vh, 140% 100vh, 150% 100vh, 200% 100vh, 200% 80vh, 190% 80vh, 190% 60vh, 180% 60vh, 180% 40vh, 170% 40vh, 170% 20vh, 160% 20vh, 160% 0vh, 150% 0vh);
  background: linear-gradient(180deg, #E2006A 0%, #E2006A 20%, #EE6B0F 20%, #EE6B0F 40%, #EBE000 40%, #EBE000 60%, #82A900 60%, #82A900 80%, #0084CE 80%, #0084CE 100%);
  z-index: 6;
  pointer-events: none;
  width: 100%;
  max-width: 960px;
  min-width: 360px;
}
@media (min-width: 1280px) {
  .block-transition {
    max-width: 1080px;
  }
}
.block-transition.transition-in {
  animation: block-transition-in cubic-bezier(0.38, 0.68, 0.64, 0.41) 0.5s;
  animation-delay: 0;
}
.block-transition.transition-out {
  animation: block-transition-out cubic-bezier(0.38, 0.68, 0.64, 0.41) 0.5s;
  animation-delay: 0;
}

@keyframes block-transition-in {
  0% {
    clip-path: polygon(100% 0vh, 100% 20vh, 110% 20vh, 110% 40vh, 120% 40vh, 120% 60vh, 130% 60vh, 130% 80vh, 140% 80vh, 140% 100vh, 150% 100vh, 300% 100vh, 300% 80vh, 290% 80vh, 290% 60vh, 280% 60vh, 280% 40vh, 270% 40vh, 270% 20vh, 260% 20vh, 260% 0vh, 250% 0vh);
  }
  100% {
    clip-path: polygon(-200% 0vh, -200% 20vh, -180% 20vh, -180% 40vh, -160% 40vh, -160% 60vh, -140% 60vh, -140% 80vh, -120% 80vh, -120% 100vh, -100% 100vh, 0% 100vh, 0% 80vh, -20% 80vh, -20% 60vh, -40% 60vh, -40% 40vh, -60% 40vh, -60% 20vh, -80% 20vh, -80% 0vh, -100% 0vh);
  }
}
@keyframes block-transition-out {
  0% {
    clip-path: polygon(-200% 0vh, -200% 20vh, -180% 20vh, -180% 40vh, -160% 40vh, -160% 60vh, -140% 60vh, -140% 80vh, -120% 80vh, -120% 100vh, -100% 100vh, 0% 100vh, 0% 80vh, -20% 80vh, -20% 60vh, -40% 60vh, -40% 40vh, -60% 40vh, -60% 20vh, -80% 20vh, -80% 0vh, -100% 0vh);
  }
  100% {
    clip-path: polygon(100% 0vh, 100% 20vh, 110% 20vh, 110% 40vh, 120% 40vh, 120% 60vh, 130% 60vh, 130% 80vh, 140% 80vh, 140% 100vh, 150% 100vh, 300% 100vh, 300% 80vh, 290% 80vh, 290% 60vh, 280% 60vh, 280% 40vh, 270% 40vh, 270% 20vh, 260% 20vh, 260% 0vh, 250% 0vh);
  }
}
.nav {
  background-color: #000;
  width: 100%;
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.nav:before {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/images/concrete-wall-tileable.jpg");
  pointer-events: none;
  opacity: 20%;
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  .nav:before {
    opacity: 10%;
  }
}

.nav-links {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  display: grid;
  max-width: 1080px;
  margin: 8px auto;
}
.nav-links span {
  vertical-align: middle;
}
.nav-links .icon {
  display: inline-block;
  width: 1.2rem;
  padding: 0 4px;
}
.nav-links .icon svg {
  fill: #FFF;
}

.nav-link {
  font-size: 1.2rem;
  line-height: 1.8rem;
  white-space: nowrap;
  padding: 4px 8px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  background-color: #000;
  text-transform: lowercase;
  text-align: center;
}
.nav-link:hover {
  color: #000;
  background-color: #FFF;
}
.nav-link:hover svg {
  fill: #000;
}

.filter-projects-group {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 560px) {
  .filter-projects-group {
    order: 1;
    margin-top: -10px;
    justify-self: start;
  }
}

.filter-projects-label {
  font-size: 0.7rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
}

.filter-projects-select {
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15rem;
  width: auto;
}
@media (max-width: 560px) {
  .filter-projects-select {
    width: 100%;
  }
}

/*************
  About
**************/
em {
  font-style: normal;
}

.deco-font-1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 3rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.deco-font-2 {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.deco-font-3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.deco-font-3 em {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.deco-font-4 {
  font-size: 1rem;
  line-height: 1.6rem;
}

.paragraph-group {
  margin-bottom: 36px;
}

.emphasized-p {
  width: 100%;
  max-width: 500px;
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  margin: 16px auto;
  transform: rotate(-2deg);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 0;
}

.social-sidebar {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .social-sidebar {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .social-sidebar {
    min-width: 200px;
  }
}

.made-with-love {
  border-bottom: 3px solid #000;
  padding: 8px;
  margin-bottom: 4px;
  text-align: center;
  line-height: 1.5rem;
}
@media (prefers-color-scheme: dark) {
  .made-with-love {
    border-color: #1f1f1f;
  }
}
.made-with-love .icon-love {
  display: inline-block;
  max-width: 24px;
  line-height: 0px;
}
@media (prefers-color-scheme: dark) {
  .made-with-love .icon-love svg {
    fill: #fff;
  }
}

/********************
   ROOT
*********************/
.background {
  position: relative;
  background-color: #000;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 53px;
}
.background:before {
  opacity: 20%;
  z-index: 0;
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/images/concrete-wall-tileable.jpg");
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  .background:before {
    opacity: 10%;
  }
}
@media (min-width: 769px) {
  .background {
    margin-top: 8px;
  }
}

/********************
   PAGE
*********************/
.page-frame {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  margin-bottom: 180px;
  z-index: 1;
  width: 100%;
  max-width: 960px;
  min-width: 360px;
}
@media (min-width: 1280px) {
  .page-frame {
    max-width: 1080px;
  }
}
@media (min-width: 769px) {
  .page-frame {
    border-radius: 10px;
  }
}
.page-frame:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/images/concrete-wall-tileable.jpg");
  pointer-events: none;
  z-index: 2;
  opacity: 20%;
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  .page-frame {
    background-color: #313130;
    color: #fff;
  }
  .page-frame:after {
    opacity: 10%;
  }
}

/**************
    SECTION
***************/
section {
  padding: 4rem 0;
}

.section-heading {
  padding-bottom: 48px;
}

.section-subheading {
  padding-bottom: 40px;
}

/**************
CONTENT
***************/
.h-centered {
  margin: 0 auto;
  padding: 0 calc(var(--content-gap) + var(--rainbow-w));
}

.about {
  padding: 5rem var(--content-gap);
}

.projects {
  padding-bottom: 18px;
}
.projects .subtitle-2 {
  text-align: center;
}
@media (min-width: 769px) {
  .projects {
    padding-bottom: 48px;
  }
}
.projects ul {
  margin-bottom: 16px;
}
.projects h3 {
  text-align: left;
}
@media (min-width: 560px) {
  .projects h3 {
    text-align: right;
    order: 2;
  }
}
.projects h4,
.projects ul {
  order: 3;
}
@media (max-width: 769px) {
  .projects ul:last-of-type .entry:last-of-type {
    margin-right: 15%;
  }
}

.experience {
  max-width: 80%;
  margin: 0 20px 0 4.5rem;
}
.experience .title-2 {
  margin-left: -25px;
}

.contact {
  min-height: 560px;
}

.footer {
  text-align: center;
  padding-bottom: calc(var(--rainbow-w) + 8px);
}

/**************
      ENTRY
***************/
.entry,
.v-spaced {
  padding-bottom: 32px;
}
.entry:last-of-type,
.v-spaced:last-of-type {
  margin-bottom: 0;
}

/****************
    ROOT FONT
*****************/
:root {
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 300;
}
@media (min-width: 560px) {
  :root {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 769px) {
  :root {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

/**************
    RESETS
***************/
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
  margin: 0 0 4px 0;
}

p {
  margin-bottom: 12px;
}

/**************
    TITLES
***************/
/*
    "page" titles
        - h1/h2, once per page
*/
.title-1 {
  font-size: 3.4rem;
  line-height: 4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.subtitle-1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/
.title-2 {
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.subtitle-2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/
.title-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}

.supertitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  font-style: italic;
}

.subtitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
}

.color-bar {
  position: relative;
}
.color-bar:before {
  position: absolute;
  left: 0;
  top: 120px;
  content: "";
  display: block;
  width: 32px;
  height: 450px;
  background: linear-gradient(180deg, #E2006A 0%, #E2006A 20%, #EE6B0F 20%, #EE6B0F 40%, #EBE000 40%, #EBE000 60%, #82A900 60%, #82A900 80%, #0084CE 80%, #0084CE 100%);
}

/* Example usage:
    @include trapezoid('left', 30px, 15px, 300px, $black);
    @include trapezoid('right', 50px, 25px, 80px, $black);
    @include trapezoid('right', 30px, 15px, 300px, $black);
*/
.triangle-left {
  position: relative;
}
.triangle-left:before {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: #000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid black;
  top: 35%;
}
@media (min-width: 769px) {
  .triangle-left:before {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 50px;
  }
}
@media (min-width: 1280px) {
  .triangle-left:before {
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-left-width: 70px;
  }
}

.triangle-right {
  position: relative;
}
.triangle-right:before {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: #000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 35px solid black;
  top: 35%;
  right: 0;
}
@media (min-width: 769px) {
  .triangle-right:before {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-right-width: 50px;
  }
}
@media (min-width: 1280px) {
  .triangle-right:before {
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-right-width: 70px;
  }
}

.trapezoid-right {
  position: relative;
}
.trapezoid-right:after {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: 80px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #000;
  top: 15%;
  right: 0;
}
@media (min-width: 769px) {
  .trapezoid-right:after {
    border-top-width: 45px;
    border-bottom-width: 45px;
    border-right-width: 70px;
    top: 25%;
  }
}
@media (min-width: 1280px) {
  .trapezoid-right:after {
    border-top-width: 70px;
    border-bottom-width: 70px;
    border-right-width: 90px;
  }
}

.trapezoid-hug {
  position: relative;
}
.trapezoid-hug:before {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.trapezoid-hug:after {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.social-link {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 4px 8px;
  transition: background-color 0.2s ease-in;
}
.social-link svg {
  transition: fill 0.1s ease-in;
}
.social-link .icon {
  max-width: 36px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0px;
}
@media (min-width: 769px) {
  .social-link .icon {
    margin-right: 8px;
  }
}
@media (min-width: 769px) {
  .social-link {
    display: block;
    text-align: left;
  }
}
.social-link:hover {
  text-decoration: underline;
  background-color: #000;
}
.social-link:hover svg {
  fill: #fff;
}
@media (prefers-color-scheme: dark) {
  .social-link svg {
    fill: #fff;
  }
}

.social-link-text {
  display: none;
  vertical-align: middle;
  transition: color 0.1s ease-in;
}
.social-link:hover .social-link-text {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  .social-link-text {
    color: #fff;
  }
}
@media (min-width: 769px) {
  .social-link-text {
    display: inline-block;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  padding: 2rem 0;
  background-color: rgb(24, 24, 24);
  border: 2px solid #191919;
}
@media (min-width: 769px) {
  .slider {
    padding: 2rem 1rem;
    border: 0;
  }
}

.slider-wide {
  height: 30vh;
}
@media (min-width: 560px) {
  .slider-wide {
    aspect-ratio: 4/3;
    height: 100%;
  }
}
@media (min-width: 769px) {
  .slider-wide {
    aspect-ratio: 2/1;
  }
}

@media (max-width: 560px) {
  .hidden-at-small {
    display: none;
  }
}

@media (min-width: 560px) {
  .visible-at-small {
    display: none;
  }
}

.slider-tall {
  aspect-ratio: 1/2;
}

.slider-contents {
  position: relative;
  overflow: hidden scroll;
  height: 96vh;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 3px 0, rgba(0, 0, 0, 0.3) -2px -2px 3px 0;
  height: 100%;
}
@media (min-width: 769px) {
  .slider-contents {
    border-radius: 10px;
  }
}

.slide {
  margin: 0;
}

.slide-caption {
  position: absolute;
  background-color: black;
  color: white;
  font-weight: 500;
  text-align: center;
  display: block;
}

.slider-expanded .slider-image {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider-image-track {
  display: flex;
  align-items: flex-start;
  transition: transform 0.2s ease-in, left 0.2s ease-in;
}
.slider-expanded .slider-image-track {
  transform: none;
}

.slider-title {
  position: absolute;
  color: white;
  font-weight: bold;
  padding-left: 8px;
  border-radius: 0 10px 0 0;
  max-width: fit-content;
  margin-top: -1.8rem;
  z-index: 1;
  cursor: default;
}

.slider-dot-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  bottom: 0.6rem;
  left: 0;
}

.slider-dot-btn {
  background-color: white;
  border: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0 10px;
  transition: transfrom 0.2s ease-in;
  transform: scale(1);
}
.slider-dot-btn:hover {
  transform: scale(1.5);
}
.slider-dot-btn.selected {
  transform: scale(1.5);
}

.btn-expand {
  position: absolute;
  bottom: 2.2rem;
  right: 0.3rem;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: black;
  padding: 2px 6px;
  line-height: 1.5rem;
  transition: background-color 0.2s ease-in, color 0.1s ease-in;
}
@media (min-width: 769px) {
  .btn-expand {
    right: 1.3rem;
  }
}
.btn-expand:hover {
  background-color: white;
  color: black;
}

.slider-arrow-btn-forward,
.slider-arrow-btn-backward {
  display: block;
  height: 45px;
  background: none;
  border: none;
  transition: transform 0.2s ease-in;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%) scale(1);
}
.slider-arrow-btn-forward .icon,
.slider-arrow-btn-backward .icon {
  display: inline-block;
  width: 1.2rem;
  padding-right: 2px;
}
.slider-arrow-btn-forward svg,
.slider-arrow-btn-backward svg {
  transition: transform 0.1s ease-in ease-in, fill 0.2s ease-in ease-in;
  fill: #FFF;
  z-index: 2;
  position: relative;
}
.slider-arrow-btn-forward:after,
.slider-arrow-btn-backward:after {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  position: fixed !important;
  transition: border-color 0.1s ease-in ease-in;
}
.slider-arrow-btn-forward:not(:disabled):hover,
.slider-arrow-btn-backward:not(:disabled):hover {
  transform: translateY(-50%) scale(1.1);
}
.slider-arrow-btn-forward:not(:disabled):hover svg,
.slider-arrow-btn-backward:not(:disabled):hover svg {
  transform: scale(1.2);
}

.slider-arrow-btn-backward {
  left: 0;
}
.slider-arrow-btn-backward:disabled {
  transform: translateY(-50%) translateX(-80%);
}
.slider-arrow-btn-backward:after {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: rgba(0, 0, 0, 0.7);
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3rem solid black;
  left: 0;
}
.slider-arrow-btn-backward:disabled:after {
  border-left-color: rgba(0, 0, 0, 0.2);
}
.slider-arrow-btn-backward:disabled svg {
  fill: rgba(0, 0, 0, 0.2);
}

.slider-arrow-btn-forward {
  right: 0;
}
.slider-arrow-btn-forward:disabled {
  transform: translateY(-50%) translateX(80%);
}
.slider-arrow-btn-forward:after {
  position: absolute;
  content: "";
  border: 0;
  display: block;
  height: rgba(0, 0, 0, 0.7);
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 3rem solid black;
  right: 0;
}
.slider-arrow-btn-forward:disabled:after {
  border-right-color: rgba(0, 0, 0, 0.5);
}
.slider-arrow-btn-forward:disabled svg {
  fill: rgba(0, 0, 0, 0.2);
}

.dialog-image {
  margin: 0 auto;
  display: block;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 6;
}

.dialog-content {
  background-color: #6D6D6D;
  position: relative;
  width: 100%;
  height: 100%;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  z-index: 2;
  background: #000;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 50%;
  margin: 8px;
  transition: background-color 0.2s ease-in;
}
.btn-close svg {
  margin-top: 3px;
  fill: #FFF;
  transition: fill 0.1s ease-in;
}
.btn-close:hover {
  background: #FFF;
}
.btn-close:hover svg {
  fill: #000;
}

.project-detail {
  padding-bottom: 80px;
}

.project-title {
  position: relative;
  text-align: left;
  padding-left: 16px;
}

.project-banner {
  margin-left: -2rem;
}
@media (min-width: 560px) {
  .project-banner {
    margin-left: 0;
  }
}

.project-info {
  max-width: 75%;
  margin: 32px auto;
  padding-bottom: 120px;
}
.project-info:before {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/images/concrete-wall-tileable.jpg");
  pointer-events: none;
  opacity: 20%;
  z-index: 0;
}
@media (prefers-color-scheme: dark) {
  .project-info:before {
    opacity: 10%;
  }
}

.back-btn {
  top: 50vh;
  background-color: transparent;
  z-index: 2;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  opacity: 1;
}
@media (max-width: 769px) {
  .back-btn {
    position: absolute;
    content: "";
    border: 0;
    display: block;
    height: 20vh;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid #000;
    position: fixed;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .back-btn {
    position: absolute;
    content: "";
    border: 0;
    display: block;
    height: 20vh;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 60px solid #000;
    position: fixed;
    top: 64vh;
  }
}
@media (min-width: 1280px) {
  .back-btn {
    position: absolute;
    content: "";
    border: 0;
    display: block;
    height: 20vh;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 80px solid #000;
    position: fixed;
    top: 64vh;
  }
}
.back-btn:hover {
  transform: scale(1.2) translateX(6px);
}
.back-btn .icon {
  display: inline-block;
  height: 100%;
}
@media (max-width: 769px) {
  .back-btn .icon {
    width: 28px;
    margin-left: -37px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .back-btn .icon {
    width: 36px;
    margin-left: -52px;
  }
}
@media (min-width: 1280px) {
  .back-btn .icon {
    width: 46px;
    margin-left: -64px;
  }
}
.back-btn svg {
  fill: #FFF;
  height: 100%;
  vertical-align: middle;
}
.back-btn.hidden {
  opacity: 0;
}

/*******************
    FONT IMPORTS
********************/
@font-face {
  font-family: "Lester Bold";
  src: url("/assets/fonts/lester-bold.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
/**************
    GLOBALS
***************/
* {
  box-sizing: border-box;
}

:root {
  background-color: #000;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  --rainbow-w: calc(10px * 5);
  --double-rainbow-w: calc(10px * 10);
  --content-gap: 8px;
}
@media (min-width: 560px) {
  body {
    --rainbow-w: calc(15px * 5);
    --double-rainbow-w: calc(15px * 10);
  }
}
@media (min-width: 769px) {
  body {
    --rainbow-w: calc(20px * 5);
    --double-rainbow-w: calc(20px * 10);
    --content-gap: 16px;
  }
}
@media (min-width: 1440px) {
  body {
    --rainbow-w: calc(25px * 5);
    --double-rainbow-w: calc(25px * 10);
  }
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.right {
  margin: 0 0 1.2rem 0;
}
@media (min-width: 560px) {
  .right {
    float: right;
    margin-left: 1.2rem;
    width: 50%;
  }
}

.left {
  margin: 0 0 1.2rem 0;
}
@media (min-width: 560px) {
  .left {
    float: left;
    margin-right: 1.2rem;
    width: 50%;
  }
}

.short {
  height: 40vh;
}

.clear:after {
  content: "";
  clear: both;
  display: table-cell;
}

.outdent-1 {
  margin-left: -1rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

.indent-3 {
  margin-left: 3rem;
}

.indent-4 {
  margin-left: 4rem;
}

*:focus-visible {
  outline: none;
  box-shadow: rgba(226, 0, 106, 0.3) 3px 3px 3px, rgba(226, 0, 106, 0.3) -3px -3px 3px;
  border: 2px solid #E2006A !important;
}

/*# sourceMappingURL=App.css.map */
