/**************
    BUTTONS
***************/
button {
  background-color: transparent;
}

.btn-1-inverted {
  border: 2px solid #FFF;
  border-radius: 3px;
  padding: 0 2px;
  margin: 2px;
  font-weight: 600;
}
.btn-1-inverted:hover {
  background-color: #FFF;
  color: #000;
}

.btn-1 {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 2px 4px;
  margin: 2px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.btn-1:hover, .btn-1.selected {
  background-color: #000;
  color: #FFF;
}

.btn-2 {
  border: 2px solid #000;
  border-radius: 3px;
  padding: 0 4px;
  font-weight: 600;
  font-family: "Lester Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
}
.btn-2:hover {
  background-color: #000;
  color: #FFF;
}

.btn-3 {
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  padding: 0 4px;
  font-weight: 600;
  font-family: "Lester Bold";
  text-transform: uppercase;
  font-size: 1.5rem;
}
.btn-3:hover {
  background-color: #000;
  color: #FFF;
}

/**************
    FORMS
***************/
form {
  width: 100%;
  margin-bottom: 24px;
}
form button[type=submit] {
  margin: 24px 0 auto;
  height: auto;
  padding: 8px 4px;
}
@media (min-width: 769px) {
  form button[type=submit] {
    width: auto;
    float: right;
  }
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 1rem;
}

input {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #FFF;
  padding: 8px 4px;
  margin-bottom: 8px;
}

textarea {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #FFF;
  padding: 8px 4px;
  min-height: 250px;
  margin-bottom: 8px;
}

.submission-msg {
  max-width: 350px;
}

/**************
    SELECT
***************/
select {
  display: block;
  border: 2px solid #000;
  border-radius: 3px;
  width: 100%;
  background-color: #FFF;
  padding: 8px 4px;
  padding: 4px 32px 4px 8px;
}

/**************
     ICONS
***************/
.icon-sm {
  max-width: 24px;
  filter: invert(0);
}

.icon-lg {
  max-width: 35px;
  margin: 8px;
}

.icon svg {
  width: 100%;
}

img {
  max-width: 100%;
}

/**************
    LINKS
***************/
/***************/
/**   LINKS   **/
/***************/
.link {
  margin-right: 16px;
}

.link::before {
  content: "";
  background: url("assets/icons/link-solid.svg") no-repeat;
  display: inline-block;
  height: 12px;
  width: 16px;
}

/**************
    LISTS
***************/
:is(ol, ul, li) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/**************
    TABLES
***************/
:is(table, th, td, tr) {
  padding: 0;
  font: inherit;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid #000;
}

td, th {
  padding: 4px;
}

th:first-of-type {
  text-align: left;
}

td {
  text-align: center;
}

tr {
  border-bottom: 1px solid #000;
}

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.page-stats-table {
  width: 75%;
  margin-bottom: 8px;
}
@media (min-width: 769px) {
  .page-stats-table {
    width: 50%;
  }
}

.page-stats-button {
  margin: 4px 16px 0 0;
  display: inline-block;
  vertical-align: top;
}

.page-stats-text {
  max-width: 60%;
  display: inline-block;
}
@media (min-width: 769px) {
  .page-stats-text {
    max-width: 45%;
  }
}

/*
  We have a selector that can select based on the previous
  sibling's class...

  .make-the-next-p-different + p {
    // rules are applied to p tags that are
    // PRECEEDED by `.make-the-next-p-different`
  }

  but not one that can select based on the
  NEXT sibling's class.

  p - .make-the-previous-p-different {
    // this selector doesn't exist :(
  }

  this is just a slightly more readable way to do that.
*/
/********************
   ROOT
*********************/
.layout {
  position: relative;
  background-color: #000;
  height: 100%;
  width: 100%;
  padding-bottom: 16px;
}
.layout:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("assets/images/concrete-wall-tileable.jpg");
  opacity: 20%;
  z-index: 0;
}

/********************
   PAGE
*********************/
.page {
  position: relative;
  background-color: white;
  overflow: hidden;
  background-color: #FFF;
  width: 100%;
  color: #000;
  margin: 0 auto;
  max-width: 960px;
  min-width: 360px;
  margin-bottom: 180px;
  z-index: 1;
}
@media (min-width: 1280px) {
  .page {
    max-width: 1080px;
  }
}
.page:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("assets/images/concrete-wall-tileable.jpg");
  z-index: 2;
  opacity: 20%;
  pointer-events: none;
}

/********************
   CANVAS
*********************/
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/**************
SECTION
***************/
.section-content {
  max-width: 720px;
  padding: 4rem 64px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-heading {
  padding-bottom: 48px;
}

.section-subheading {
  padding-bottom: 40px;
}

/**************
      ENTRY
***************/
.entry {
  padding-bottom: 32px;
}
.entry:has(+ .section-subheading) {
  padding-bottom: 40px;
}
.entry:last-of-type {
  margin-bottom: 0;
}

/**************
   PARAGRAPH
***************/
p {
  padding-bottom: 8px;
}

/* enforces line heights */
/**************
    TITLES
***************/
/****************
    ROOT FONT
*****************/
:root {
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 300;
}
@media (min-width: 560px) {
  :root {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 769px) {
  :root {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

/**************
    RESETS
***************/
:is(h1, h2, h3, h4, h5, h6, p, em, i) {
  margin: 0;
}

:is(em, i) {
  font: inherit;
}

/**************
    TITLES
***************/
/*
    "page" titles
        - h1/h2, once per page
*/
.title-1 {
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.subtitle-1 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 0.3rem;
}

/*
    "section" titles
        - h3 once per section
        - h4 multiple times per section
*/
.title-2 {
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.subtitle-2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

/*
    "entry" titles
        - h5 once per entry
        - time and div elements
*/
.title-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.supertitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  font-style: italic;
}

.subtitle-3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-style: italic;
}

.nav-links {
  display: grid;
  width: 70%;
}
.nav-links span {
  vertical-align: middle;
}
.nav-links .icon {
  display: inline-block;
  width: 1.2rem;
  padding: 0 4px;
}
.nav-links .icon svg {
  fill: #FFF;
}

.nav-link {
  white-space: nowrap;
  padding: 4px 8px;
  margin: 8px;
  border: 2px solid #000;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
  background-color: #000;
  text-transform: lowercase;
}
.nav-link:hover {
  color: #000;
  background-color: #FFF;
}
.nav-link:hover svg {
  fill: #000;
}

/* Modifiers */
.nav-links-fixed {
  z-index: 6;
  background-color: #000;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  text-align: center;
}

/* Example usage:
    @include trapezoid('left', 30px, 15px, 300px, $black);
    @include trapezoid('right', 50px, 25px, 80px, $black);
    @include trapezoid('right', 30px, 15px, 300px, $black);
*/
/*************
  Title
**************/
.triangle-left {
  position: relative;
}
.triangle-left:before {
  position: absolute;
  content: "";
  display: block;
  height: #000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid black;
  top: 35%;
}
@media (min-width: 769px) {
  .triangle-left:before {
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 50px;
  }
}
@media (min-width: 1280px) {
  .triangle-left:before {
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-left-width: 70px;
  }
}

/*************
  About
**************/
/*
    One off title styles
*/
.deco-font-1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 3rem;
  font-weight: 700;
}

.deco-font-2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  line-height: 1.8rem;
}

.deco-font-3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.trapezoid-right {
  position: relative;
}
.trapezoid-right:after {
  position: absolute;
  content: "";
  display: block;
  height: 80px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 50px solid #000;
  top: 33%;
  right: 0;
}
@media (min-width: 769px) {
  .trapezoid-right:after {
    border-top-width: 45px;
    border-bottom-width: 45px;
    border-right-width: 70px;
  }
}
@media (min-width: 1280px) {
  .trapezoid-right:after {
    border-top-width: 70px;
    border-bottom-width: 70px;
    border-right-width: 90px;
  }
}

/*************
  Projects
**************/
.section-projects .subtitle-2 {
  text-align: center;
}
.section-projects .section-content {
  padding-bottom: 18px;
}
@media (min-width: 769px) {
  .section-projects .section-content {
    padding-bottom: 48px;
  }
}
.section-projects ul {
  margin-bottom: 16px;
}
.section-projects h3 {
  text-align: left;
}
@media (min-width: 560px) {
  .section-projects h3 {
    text-align: right;
    order: 2;
  }
}
.section-projects h4, .section-projects ul {
  order: 3;
}
@media (max-width: 769px) {
  .section-projects ul:last-of-type .entry:last-of-type {
    margin-right: 15%;
  }
}

.filter-projects-group {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 560px) {
  .filter-projects-group {
    margin-bottom: 48px;
  }
}
@media (min-width: 560px) {
  .filter-projects-group {
    order: 1;
    justify-self: start;
  }
}

.filter-projects-label {
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-size: 0.7rem;
  line-height: 0.6rem;
}

.filter-projects-select {
  font-size: 1rem;
  background-color: #000;
  border: 2px solid #000;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.15rem;
  width: auto;
}
@media (max-width: 560px) {
  .filter-projects-select {
    width: 100%;
  }
}

/*************
  Experience
**************/
.section-experience .section-heading {
  margin-left: -25px;
}
.section-experience .section-content {
  max-width: 80%;
  margin: 0 auto;
  margin-left: 12%;
  padding: 4rem 0 4rem 63px;
}

.trapezoid-hug {
  position: relative;
}
.trapezoid-hug:before {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.trapezoid-hug:after {
  position: absolute;
  content: "";
  display: block;
  height: 300px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #000;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/**************
      GRID
***************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-gap: 16px;
}
.grid > * {
  grid-column: auto/span 12;
}
.grid .half {
  grid-column: auto/span 6;
}
.grid .one-third {
  grid-column: auto/span 4;
}
.grid .two-third {
  grid-column: auto/span 8;
}

@media (min-width: 560px) {
  .grid-at-small {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-small > * {
    grid-column: auto/span 12;
  }
  .grid-at-small .half {
    grid-column: auto/span 6;
  }
  .grid-at-small .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-small .two-third {
    grid-column: auto/span 8;
  }
}

@media (min-width: 769px) {
  .grid-at-med {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-gap: 16px;
  }
  .grid-at-med > * {
    grid-column: auto/span 12;
  }
  .grid-at-med .half {
    grid-column: auto/span 6;
  }
  .grid-at-med .one-third {
    grid-column: auto/span 4;
  }
  .grid-at-med .two-third {
    grid-column: auto/span 8;
  }
}

/*************
  Contact
**************/
.section-contact .section-content {
  padding: 4rem 72px 10px 56px;
}

.made-with-love {
  border-bottom: 3px solid #000;
  padding: 8px;
  margin-bottom: 4px;
  text-align: center;
}

.color-bar {
  position: relative;
}
.color-bar:before {
  position: absolute;
  left: 0;
  top: 120px;
  content: "";
  display: block;
  width: 32px;
  height: 450px;
  background: linear-gradient(180deg, #E2006A 0%, #E2006A 20%, #EE6B0F 20%, #EE6B0F 40%, #EBE000 40%, #EBE000 60%, #82A900 60%, #82A900 80%, #0084CE 80%, #0084CE 100%);
}

.sidebar-right {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .sidebar-right {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .sidebar-right {
    min-width: 200px;
  }
}

.social-link {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  margin-bottom: 4px;
  border-radius: 3px;
  padding: 4px 8px;
}
.social-link .icon {
  max-width: 36px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0px;
}
@media (min-width: 769px) {
  .social-link .icon {
    margin-right: 8px;
  }
}
.social-link:hover {
  text-decoration: underline;
}
@media (min-width: 769px) {
  .social-link {
    display: block;
    text-align: left;
  }
}
.social-link .social-link-text {
  display: none;
  vertical-align: middle;
}
@media (min-width: 769px) {
  .social-link .social-link-text {
    display: inline-block;
  }
}
.social-link:hover {
  background-color: black;
}
.social-link:hover svg {
  fill: #FFF;
}
.social-link:hover .social-link-text {
  color: #FFF;
}

/*******************
    FONT IMPORTS
********************/
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/open_dyslexic/OpenDyslexic-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lester Bold";
  src: url("/assets/fonts/lester-bold.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype") tech("variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
/**************
    GLOBALS
***************/
* {
  box-sizing: border-box;
}

:root {
  background-color: #000;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

section {
  z-index: 1;
}

/**********************
    UTILITY CLASSES
***********************/
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.text-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.outdent-1 {
  margin-left: -1rem;
}

.outdent-2 {
  margin-left: -2rem;
}

.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

/*# sourceMappingURL=App.css.map */
