@use "../variables/breakpoints" as *;
@use "./media-queries" as *;

/**************
      GRID
***************/

@mixin grid {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-gap: 16px;

  > * {
    grid-column: auto / span 12;
  }

  .half {
    grid-column: auto / span 6;
  }

  .one-third {
    grid-column: auto / span 4;
  }

  .two-third {
    grid-column: auto / span 8;
  }
}

.grid {
  @include grid;
}

.grid-at-small {
  @include only-above($small-bp) {
    @include grid;
  }
}


.grid-at-med {
  @include only-above($medium-bp) {
    @include grid;
  }
}
