@use  '../variables/globals' as *;

/**************
    TITLES
***************/

@mixin title {
    font-family: $primary-font;
    font-weight: 700;
}

@mixin subtitle {
    font-family: $primary-font;
    font-weight: 500;
}