$pink: #E2006A;
$orange: #EE6B0F;
$yellow: #EBE000;
$green: #82A900;
$blue: #0084CE;
$black: #000;
$white: #FFF;
$rainbow-gradient-vert: linear-gradient(
    90deg,
    $pink 0%,
    $pink 20%,
    $orange 20%,
    $orange 40%,
    $yellow 40%,
    $yellow 60%,
    $green 60%,
    $green 80%,
    $blue 80%,
    $blue 100%,
);
$rainbow-gradient-horiz: linear-gradient(
    180deg,
    $pink 0%,
    $pink 20%,
    $orange 20%,
    $orange 40%,
    $yellow 40%,
    $yellow 60%,
    $green 60%,
    $green 80%,
    $blue 80%,
    $blue 100%,
);